aiohttp==3.7.4.post0
aiodns==3.0.0
aiofiles==0.6.0
git+https://github.com/pyrogram/pyrogram@efac17198b5fcaec1c2628c4bba0c288a4d617d4
TgCrypto==1.2.3
beautifulsoup4==4.11.1
cssutils==2.4.2
# uvloop==0.16.0
