.telegram-passport-wrap {
  overflow: hidden;
}
.telegram-passport-form {
  position: relative;
}
.telegram-passport-form .control-label {
  line-height: 20px;
  padding-top: 11px;
}
.telegram-passport-header {
  font-size: 18px;
  line-height: 27px;
}
.telegram-passport-greeting {
  margin-right: 10px;
}
.telegram-passport-greeting a,
.telegram-passport-greeting a:hover {
  color: inherit;
}
.telegram-passport-logout {
  font-size: 16px;
  font-weight: normal;
}
.telegram-passport-login-wrap {
  margin: 10px 0 50px;
  text-align: center;
}
.telegram-passport-relogin-wrap {
  margin: 10px 0 50px;
  text-align: center;
}
.telegram-passport-pending {
  padding: 20px 0 40px;
  text-align: center;
}
.telegram-passport-block-header,
.telegram-passport-item {
  border-bottom: 1px solid #e7e7e7;
}
.telegram-passport-block-header,
.telegram-passport-item-name,
.telegram-passport-item-value {
  padding: 15px 0;
  line-height: 20px;
}
.telegram-passport-block-header {
  margin: 25px 0 0;
}
.telegram-passport-item-name {
  margin-right: 15px;
  margin-bottom: -5px;
  padding-bottom: 0;
  float: left;
}
.telegram-passport-item-files,
.telegram-passport-item-value {
  clear: left;
  font-weight: bold;
}
.telegram-passport-item-value {
  transition: color .12s linear;
}
.telegram-passport-item-files {
  padding: 6px 0;
}
.telegram-passport-item-file {
  padding: 6px 0;
  min-height: 60px;
}
.telegram-passport-item .telegram-passport-checkbox-right .checkbox-input {
  margin: 0;
}
.telegram-passport-item .telegram-passport-checkbox-right {
  float: right;
  margin: 40px -5px 10px;
  padding: 5px;
}
.telegram-passport-item-files .checkbox-item-block {
  margin: 6px 0;
}
.telegram-passport-item-file .telegram-passport-checkbox-right {
  margin: 9px -5px;
}
.telegram-passport-scan-thumb {
  display: inline-block;
  width: 64px;
  height: 48px;
  background: #f7f7f7 no-repeat center;
  background-size: cover;
  float: left;
  border-radius: 3px;
  margin-right: 15px;
}
.telegram-passport-scan-name {
  display: inline-block;
  font-size: 14px;
  padding: 3px 0 0;
  transition: color .12s linear;
  color: #2e87ca;
}
.telegram-passport-scan-size {
  font-size: 13px;
  padding: 1px 0 0;
  font-weight: normal;
  transition: color .12s linear;
  color: #999;
}
.telegram-passport-item-value,
.telegram-passport-scan-info {
  margin-right: 42px;
}
.telegram-passport-item .checkbox-item-block .checkbox-label {
  transition: color .12s linear;
}
.telegram-passport-item.item-rejected .telegram-passport-item-value,
.telegram-passport-item-file.item-rejected .telegram-passport-scan-name,
.telegram-passport-item-file.item-rejected .telegram-passport-scan-size,
.telegram-passport-item .checkbox-item-block.item-rejected .checkbox-label {
  color: #c93c3c;
}

.telegram-passport-item .checkbox-item-block .checkbox-input-icon:before {
  border-color: #eb5454;
  background-color: #eb5454;
  background-position: -3px -119px;
}
.telegram-passport-item .checkbox-item-block input.checkbox:checked + .checkbox-input .ripple {
  background-color: rgba(235, 84, 84, .2);
}
.telegram-passport-errors-wrap {
  text-align: right;
  margin: 20px 16px 0;
}
.btn.telegram-passport-errors {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 6px;
  background-color: transparent;
  padding: 8px 16px 10px;
  margin: 4px -16px;
  border: none;
  color: #c93c3c;
  position: relative;
  z-index: 1;
}
.btn.telegram-passport-errors:hover {
  background-color: #f7e3e3;
}
.btn.telegram-passport-errors:focus {
  outline: none;
}
.btn.telegram-passport-errors:active {
  box-shadow: none;
}
.telegram-passport-errors-icon {
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 19px;
  margin: 1px 12px 0 0;
  background: url(/img/passport_bug.png) no-repeat 0 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .telegram-passport-errors-icon {
    background-image: url(/img/passport_bug_2x.png);
    background-size: 18px 19px;
  }
}
.telegram-passport-errors-sent {
  font-size: 14px;
  line-height: 20px;
  padding: 13px 24px 0 0;
  color: #999;
  transition: opacity .12s linear;
  opacity: 0;
}
.telegram-passport-errors-sent.shown {
  opacity: 1;
}

@media (min-width: 768px) {
  .telegram-passport-login-wrap {
    text-align: left;
  }
  .telegram-passport-relogin-wrap {
    text-align: left;
    margin: 50px 0 50px 240px;
  }
  .telegram-passport-item-files,
  .telegram-passport-item-value {
    clear: none;
    margin-left: 240px;
  }
  .telegram-passport-item .telegram-passport-checkbox-right {
    margin-top: 10px;
  }
  .telegram-passport-item-file .telegram-passport-checkbox-right {
    margin: 9px -5px;
  }
  .telegram-passport-errors-wrap {
    position: absolute;
    right: 0;
    margin: 50px 0 0;
  }
}

.telegram-passport-form .sub-control-label {
  text-align: left;
  margin: 11px 0 6px;
}
.telegram-passport-form .sub-control-label .radio-label {
  font-weight: bold;
}
.telegram-passport-form .sub-control-label .radio-item + .radio-item,
.telegram-passport-form .sub-control-label .checkbox-item + .checkbox-item {
  margin-left: 25px;
}
.telegram-passport-form label.control-label .radio-label {
  font-weight: bold;
}
.passport-opt,
.passport-opt-col {
  display: inline-block;
  margin-left: 31px;
  margin-top: -10px;
}
.passport-opt + .passport-opt,
.passport-opt-col + .passport-opt-col {
  margin-left: 0;
}
@media (min-width: 992px) {
  .passport-opt-col {
    margin-left: 0;
    margin-top: 0;
    text-align: center;
  }
  .passport-opt-col .checkbox-label {
    text-align: left;
  }
  .passport-opt-col .checkbox-item input.checkbox ~ .checkbox-label {
    display: none;
  }
}
