
@font-face {
  font-family: ProductSans;
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/ProductSansRegular.ttf);
}
@font-face {
  font-family: ProductSans;
  font-display: swap;
  font-style: bold;
  font-weight: 600;
  src: url(/fonts/ProductSansBold.ttf);
}

.tl_dashboard_container,
.tl_dashboard_footer {
  font-family: ProductSans, -apple-system, system-ui, sans-serif;
  font-variant-ligatures: none;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  line-height: 27px;
  --gap: 20px;
}
.tl_dashboard_container a,
.tl_dashboard_footer a {
  color: #0486d1;
}
.tl_dashboard_container h1 {
  font-size: 34px;
  line-height: 42px;
  font-weight: bold;
  margin: 40px 19px 22px;
}
.tl_dashboard_container h2 {
  font-size: 27px;
  line-height: 33px;
  font-weight: bold;
  margin: 65px 19px 22px;
}
.tl_dashboard_container h1 + h2 {
  margin-top: 45px;
}
.tl_dashboard_container h4 {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin: var(--gap) 17px 14px;
}
.tl_dashboard_container h2 a.anchor i.anchor-icon,
.tl_dashboard_container h4 a.anchor i.anchor-icon {
  vertical-align: middle;
}
.tl_dashboard_container table {
  border-collapse: separate;
  --border-radius: 12px;
  margin-bottom: 0;
}
.tl_dashboard_container table tr th,
.tl_dashboard_container table tr td {
  font-size: 15px;
  line-height: 20px;
  padding: 11px 16px;
  border: solid #e5e5e5;
  text-align: center;
}
.tl_dashboard_container table tr th.table-left,
.tl_dashboard_container table tr td.table-left {
  text-align: left;
}
.tl_dashboard_container table>thead>tr>th {
  background: #3ea6f0;
  border-width: 0;
  color: #fff;
}
.tl_dashboard_container table>thead>tr>th:first-child {
  border-top-left-radius: var(--border-radius);
}
.tl_dashboard_container table>thead>tr>th:last-child {
  border-top-right-radius: var(--border-radius);
}
.tl_dashboard_container table>tbody>tr>td,
.tl_dashboard_container table>tfoot>tr>td {
  border-width: 0 0 1px;
}
.tl_dashboard_container table>tbody>tr>td:first-child,
.tl_dashboard_container table>tfoot>tr>td:first-child {
  border-left-width: 1px;
}
.tl_dashboard_container table>tbody>tr>td:last-child,
.tl_dashboard_container table>tfoot>tr>td:last-child {
  border-right-width: 1px;
}
.tl_dashboard_container table>tfoot>tr>td {
  font-weight: bold;
}
.tl_dashboard_container table>tfoot>tr>td:first-child {
  border-bottom-left-radius: var(--border-radius);
}
.tl_dashboard_container table>tfoot>tr>td:last-child {
  border-bottom-right-radius: var(--border-radius);
}
.tl_dashboard_table_desc {
  font-size: 13px;
  line-height: 17px;
  margin: 11px 16px 0;
  color: #697680;
}
.tl_dashboard_table_explanation {
  font-size: 13px;
  line-height: 17px;
  margin: 11px 16px 0;
  color: #697680;
}
.tl_dashboard_content_box {
  display: flex;
  flex-direction: column;
}
.tl_dashboard_graph_wrap,
.tl_dashboard_table_wrap {
  order: 2;
}
.tl_dashboard_content_text {
  font-size: 17px;
  line-height: 25px;
  margin: 0 18px 14px;
  order: 1;
}
h2 + .tl_dashboard_content_box .tl_dashboard_content_text {
  margin-top: -10px;
}
.tl_dashboard_content_additional {
  order: 3;
}
.tl_dashboard_table_wrap + .tl_dashboard_content_text {
  margin-left: 16px;
  margin-right: 16px;
}
.tl_dashboard_content_text p {
  margin-bottom: 0;
}
.tl_dashboard_content_text ul {
  padding-left: 16px;
  margin: 20px 0;
}
.tl_dashboard_content_text li::marker {
  color: #3EA6F0;
}
.tl_dashboard_counters {
  display: flex;
  margin-top: var(--gap);
  justify-content: center;
}
.tl_dashboard_counter {
  display: inline-block;
  background: #f0f6fa;
  border-radius: 16px;
  padding: 28px 50px;
  text-align: center;
  width: 300px;
}
.tl_dashboard_counter_value {
  font-size: 38px;
  line-height: 38px;
  font-weight: bold;
  color: #0486d1;
}
.tl_dashboard_counter_desc {
  font-size: 16px;
  line-height: 20px;
  margin-top: 15px;
}
.tl_dashboard_graph_howto {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}
.tl_dashboard_graph {
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  overflow: hidden;
  padding: 15px 11px;
}
.tl_dashboard_graph .chart_wrap {
  margin: 0 -11px;
}
.tl_dashboard_footer {
  margin-top: 60px;
  background: #f0f6fa;
  padding: 60px 0 150px;
  text-align: center;
  box-shadow: 0 1px #e8e8e8;
  margin-bottom: -10px;
}
.tl_dashboard_footer_content {
  padding: 0 15px;
  margin: 0 auto;
  width: 700px;
  max-width: 100%;
}
.tl_dashboard_footer h2 {
  font-size: 32px;
  line-height: 39px;
  font-weight: bold;
  margin: 0 0 18px;
}
.tl_dashboard_footer p {
  margin: 0;
}
.tl_dashboard_footer p + p {
  margin-top: var(--gap);
}
.tl_dashboard_phone_wrap {
  padding: 48px 0;
}
.tl_dashboard_phone_video {
  display: inline-block;
  position: relative;
  width: 354px;
  margin: 16px;
}
.tl_dashboard_phone_video video {
  width: 328px;
  height: 712px;
  margin: 12px 13px;
  vertical-align: top;
  object-fit: cover;
  border-radius: 47px;
}
.tl_dashboard_phone_video svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  vertical-align: top;
  z-index: 1;
}
@media (min-width: 992px) {
  .tl_dashboard_container,
  .tl_dashboard_footer {
    --gap: 30px;
  }
  .tl_dashboard_content_box {
    display: block;
  }
  .tl_dashboard_graph_wrap,
  .tl_dashboard_table_wrap {
    float: left;
    margin-right: 60px;
  }
  .tl_dashboard_content_text,
  .tl_dashboard_content_additional {
    margin: 0;
    overflow: hidden;
  }
  .tl_dashboard_graph_wrap,
  .tl_dashboard_table_wrap {
    width: 570px;
  }
  .tl_dashboard_counters {
    justify-content: left;
  }
  .tl_dashboard_graph_howto {
    text-align: left;
    margin-top: var(--gap);
  }
}
@media (min-width: 1200px) {
  .tl_dashboard_graph_wrap,
  .tl_dashboard_table_wrap {
    width: 700px;
  }
}
@media (min-width: 1340px) {
  .tl_dashboard_graph_wrap,
  .tl_dashboard_table_wrap {
    width: 800px;
  }
  .tl_page_container.tl_dashboard_container {
    width: 1310px;
  }
}
