body {
  font-family: 'Roboto', sans-serif;
  /*font-size: 14px;*/
  color: #222;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.dark body {
  background-color: #242f3e;
  color: #fff;
}
.dark a,
.dark a:hover,
.dark a:focus {
  color: #4BBAFA;
}

.dark .nav .open > a,
.dark .nav .open > a:hover,
.dark .nav .open > a:focus,
.dark .nav-pills > li.active > a,
.dark .nav-pills > li.active > a:hover,
.dark .nav-pills > li.active > a:focus {
  background-color: #0f9ae4;
}
.dark .nav > li > a:hover,
.dark .nav > li > a:focus {
  background-color: #3C4756;
}

.dark .form-control {
  background-color: #242f3e;
  color: #fff;
  border-color: #404C5C;
}
input.form-control::placeholder,
textarea.form-control::placeholder {
  color: #777;
}
.dark input.form-control::placeholder,
.dark textarea.form-control::placeholder {
  color: #969A9E;
}

.dropdown-filter-form {
  min-width: 240px;
}
.dropdown-filter-field {
  background: transparent;
  cursor: pointer;
  padding: 8px 17px 8px 17px;
  font-size: 14px;
  margin: 0;
  font-weight: 500;
  position: relative;
  color: #222;
  border: none;
}
.dark .dropdown-filter-field {
  background-color: transparent;
}
input.dropdown-filter-field:focus {
  outline: none;
  box-shadow: none;
}

.dark ::-webkit-scrollbar {
  width: 12px;
  background: #343F4C;
}
.dark ::-webkit-scrollbar-thumb {
  background: #515A66;
  border-radius: 5px;
  border: 2px solid #343F4C;
}



/*!
* Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
* Copyright 2013-2016 Start Bootstrap
* Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
*/

/* Toggle Styles */

#hl-wrapper {
  padding-left: 0;
}

#hl-wrapper.transitions-ready {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#hl-sidebar-wrapper {
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 250px;
  overflow: hidden;
  margin-left: -250px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: #fff;
  border-right: 1px solid #e7e7e7;
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE 11 */
}
.dark #hl-sidebar-wrapper {
  background-color: #242f3e;
  border-right-color: #404C5C;
}
#hl-wrapper.transitions-ready #hl-sidebar-wrapper {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#hl-sidebar-wrapper::-webkit-scrollbar {
  width: 0;
}

#hl-page-content-wrapper {
  width: 100%;
  position: absolute;
  left: 0;
}

#hl-wrapper.toggled {
  padding-left: 250px;
}

#hl-wrapper.toggled #hl-sidebar-wrapper {
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
}
#hl-wrapper.toggled #hl-sidebar-shadow {
  display: block;
}




.hl-menu-items,
.hl-menu-items > li {
  display: block;
  padding: 0;
  margin: 0;
}
.hl-menu-items {
  position: relative;
  overflow: hidden;
  opacity: 1;
  visibility: visible;
  transition: all .2s ease;
}
.hl-menu-section .hl-menu-items {
  margin-bottom: 10px;
}
.hl-menu-items .active {
  transition: opacity .2s step-end;
}
.hl-menu-section-collapsed > .hl-menu-items .active {
  transition: opacity .2s step-start;
  opacity: 0;
}
.hl-menu-item {
  display: block;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  color: #222;
  padding: 9px 15px 9px 16px;
  margin: 0;
  transition: all .2s ease;
  -webkit-font-smoothing: subpixel-antialiased;
  cursor: pointer;
}
.active .hl-menu-item,
a.hl-menu-item:hover,
a.hl-menu-item:focus,
.hl-menu-items .hl-badges:hover + a.hl-menu-item {
  color: #222;
  text-decoration: none;
  background: #f2f2f2;
}
.dark .hl-menu-item {
  color: #fff;
}
.dark .active .hl-menu-item,
.dark a.hl-menu-item:hover,
.dark a.hl-menu-item:focus,
.dark .hl-menu-items .hl-badges:hover + a.hl-menu-item {
  background: #3C4756;
  color: #fff;
}

.hl-menu-header .hl-menu-item {
  font-size: 16px;
  line-height: 18px;
  padding: 16px 15px 16px 16px;
}

.hl-topbar-wrap {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 0;
}
.dark .hl-topbar-wrap {
  border-color: #404C5C;
}
.hl-topbar {
  padding: 12px 12px;
  font-size: 18px;
  line-height: 20px;
}
#hl-sidebar-shadow {
  display: none;
  background: rgba(0,0,0,0.01);
  position: fixed;
  left: 250px;
  right: 0px;
  top: 0;
  bottom: 0;
  z-index: 1000;
}
.hl-topbar-header {
  font-size: 18px;
  line-height: 34px;
  font-weight: 500;
}

#hl-menu-toggle {
  display: block;
  float: left;
  padding: 10px 10px;
  line-height: 12px;
  margin-right: 23px;
  border: none;
  background: none;
  outline: none;
}
#hl-menu-toggle:focus {
  outline: none;
}
.hl-menu-hamburger {
  width: 18px;
  height: 12px;
  display: inline-block;
}
i.hl-menu-bar {
  display: block;
  height: 2px;
  width: 18px;
  background: #222;
  margin-bottom: 3px;
}
.dark i.hl-menu-bar {
  background: #fff;
}
i.hl-menu-bar:last-child {
  margin-bottom: 0;
}
.hl-nav-pills {
  padding: 7px 10px;
}
.hl-nav-pills > li,
.hl-nav-pills > li+li  {
  margin: 3px;
}
.hl-nav-pills > li > a {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  padding: 8px 12px;
  transition: all .2s ease;
  border-radius: 16px;
}
.hl-nav-pills li.active > a {
  background: #0f9ae4;
  color: #fff;
}
.hl-top-filters {
  padding: 0;
  margin: 10px 0 0;
}
.hl-page .hl-sub-filters {
  margin: 0 -15px 0;
}
.h3-nav-pills {
  position: relative;
  margin-top: 24px;
  margin-bottom: -16px;
  padding: 0;
  z-index: 1;
}

.hl-caret {
  display: inline-block;
  border-style: solid;
  border-width: 0 0 2px 2px;
  width: 9px;
  height: 9px;
  transform: rotateZ(-45deg) scale(.85) translate3d(2px, -1px, 0);
  transform-origin: 50% 50%;
  margin-left: 5px;
  transition: all .2s ease;
  border-color: #222;
}
.dark .hl-caret {
  border-color: #fff;
}
.hl-dropdown.open .hl-caret {
  border-color: #fff;
}
.dark .hl-dropdown.open .hl-caret {
  border-color: #fff;
}

.hl-topbar-subtabs .dropdown-toggle,
.hl-filters-dropdowns .dropdown-toggle {
  color: #222;
}
.dark .hl-topbar-subtabs .dropdown-toggle,
.dark .hl-filters-dropdowns .dropdown-toggle {
  color: #fff;
}
.hl-topbar-subtabs .dropdown-toggle:hover,
.hl-filters-dropdowns .dropdown-toggle:hover,
.hl-topbar-subtabs .dropdown-toggle:focus,
.hl-filters-dropdowns .dropdown-toggle:focus,
.hl-topbar-subtabs .dropdown-toggle:active,
.hl-filters-dropdowns .dropdown-toggle:active {
  background-color: rgba(0,0,0,0.05);
  color: #222;
}
.dark .hl-topbar-subtabs .dropdown-toggle:hover,
.dark .hl-filters-dropdowns .dropdown-toggle:hover,
.dark .hl-topbar-subtabs .dropdown-toggle:focus,
.dark .hl-filters-dropdowns .dropdown-toggle:focus,
.dark .hl-topbar-subtabs .dropdown-toggle:active,
.dark .hl-filters-dropdowns .dropdown-toggle:active {
  background-color: #3C4756;
  color: #fff;
}
.hl-topbar-subtabs.hl-nav-pills > li.hl-dropdown > a,
.hl-filters-dropdowns.hl-nav-pills > li.hl-dropdown > a {
  border-radius: 3px;
}
.hl-nav-pills.hl-topbar-subtabs > li.hl-dropdown,
.hl-nav-pills.hl-topbar-subtabs > li.hl-dropdown + li.hl-dropdown,
.hl-nav-pills.hl-filters-dropdowns > li.hl-dropdown,
.hl-nav-pills.hl-filters-dropdowns > li.hl-dropdown + li.hl-dropdown {
  margin: 2px 3px;
}
.dark .dropdown-menu {
  background-color: #3A4452;
}


.hl-dropdown-icon-except {
  opacity: 0;
  float: right;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  overflow: hidden;
  background: #ccc;
  padding: 7px 4px;
  transition: all .2s ease;
  margin-right: -7px;
  margin-top: 2px;
}
.dark .hl-dropdown-icon-except {
  background: #88909B;
}
.hl-dropdown-icon-except:hover {
  background: #aaa;
}
.hl-dropdown-icon-except:after {
  display: block;
  width: 8px;
  height: 2px;
  background: #fff;
  content: '';
}
.dark .hl-dropdown-icon-except:after {
  background-color: #3A4452;
}
.dropdown-menu a:hover > .hl-dropdown-icon-except {
  opacity: 1;
}
.emoji-country-flag {
  margin-right: 1px;
  vertical-align: text-bottom;
  line-height: 100%;
}

.scrollable-wide-wrap {
  width: 100%;
  overflow-x: scroll;
}

.hl-dropdown {
  position: relative;
  display: inline-block;
}
.hl-dropdown .dropdown-menu {
  left: auto;
  left: 0;
  margin: 5px -4px 0;
  border: 1px solid rgba(0, 0, 0, .06);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.42857143;
  overflow: hidden;
}
.hl-dropdown span.dropdown-menu > ul.dropdown-menu {
  position: static;
  display: block;
  float: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  min-width: 0;
  margin: 0 -20px 0 0;
  padding: 7px 20px 7px 0;
  max-height: 500px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE 11 */
}
.hl-dropdown span.dropdown-menu > ul.dropdown-menu::-webkit-scrollbar {
  width: 0;
}
.hl-dropdown .dropdown-menu {
  margin-left: 0;
  margin-top: 10px;
}
.hl-dropdown .dropdown-menu > li > a {
  cursor: pointer;
  padding: 8px 17px 8px 17px;
  margin: 0;
  font-weight: 500;
  position: relative;
  color: #222;
}
.dark .hl-dropdown .dropdown-menu > li > a {
  color: #fff;
}
.dark .hl-dropdown > a.dropdown-toggle > small,
.dark .hl-dropdown .dropdown-menu > li > a small {
  font-size: inherit;
  font-weight: normal;
  /*font-style: italic;*/
}
.hl-dropdown .dropdown-menu > li > a:hover,
.hl-dropdown .dropdown-menu > li > a:focus,
.hl-dropdown .dropdown-menu > li.active > a {
  background-color: #f4f4f4;
  color: #222;
}
.dark .hl-dropdown .dropdown-menu > li > a:hover,
.dark .hl-dropdown .dropdown-menu > li > a:focus,
.dark .hl-dropdown .dropdown-menu > li.active > a {
  background-color: #4D5561;
  color: #fff;
}
.hl-dropdown .dropdown-menu > li.selected > a:before,
.hl-dropdown .dropdown-menu > li.selected > a:after {
  position: absolute;
  display: inline-block;
  transform: rotateZ(-135deg);
  transform-origin: 3px 3px;
  right: 16px;
  top: 14px;
  content: '';
  width: 8px;
  height: 13px;
  background-color: #9b9b9b;
}
.hl-dropdown .dropdown-menu > li.selected > a:after {
  background-color: #fff;
  transform: rotateZ(-135deg) translate3d(2.5px, 2.5px, 0);
}
.hl-dropdown .dropdown-menu > li.selected > a:hover:after,
.hl-dropdown .dropdown-menu > li.selected > a:focus:after {
  background-color: #f4f4f4;
}
.hl-dropdown a.dropdown-toggle-disabled {
  pointer-events: none;
}
.hl-dropdown a.dropdown-toggle > .radio-item,
.hl-dropdown a.dropdown-toggle > .checkbox-item {
  pointer-events: none;
  cursor: pointer;
  margin: -2px 0;
  padding: 0;
}
.hl-dropdown a.dropdown-toggle > .radio-item .radio-input + .radio-label,
.hl-dropdown a.dropdown-toggle > .checkbox-item .checkbox-input + .checkbox-label {
  font-weight: 500;
  margin-left: 7px;
  white-space: nowrap;
}
.hl-dropdown a.dropdown-toggle > .radio-item .radio:disabled ~ .radio-label,
.hl-dropdown a.dropdown-toggle > .checkbox-item .checkbox:disabled ~ .checkbox-label {
  color: #a8a8a8;
}
.hl-dropdown .dropdown-menu > li.subitem > a:before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 5px;
  margin: 0 10px 0 3px;
  border: solid #aaa;
  border-width: 0 0 1px 1px;
  position: relative;
  top: -3px;
}

.hl-map-frame-wrap {
  position: relative;
  padding-top: 56.25%;
  margin: -10px;
}
.hl-map-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.hl-select-dropdown {
  position: relative;
}
.hl-select-dropdown .dropdown-toggle {
  pointer-events: none;
}
select.hl-select {
  display: inline-block;
  font-size: 15px;
  line-height: 160%;
  padding: 0 6px;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 1ex;

  background-origin: content-box;
  position: absolute;
  opacity: 0.01;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media(min-width:768px) {
  #hl-menu-toggle {
    display: none;
  }
  #hl-wrapper {
    padding-left: 250px;
    max-width: 1400px;
    margin: 0 auto;
  }
  #hl-page-content-wrapper {
    position: relative;
  }
  #hl-wrapper #hl-page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
  .hl-topbar {
    display: none;
  }
  .hl-topbar-no-subtabs {
    display: none;
  }
  .hl-topbar-no-subtabs + .hl-top-filters {
    margin-top: 0;
  }
  .hl-filters-periods {
    float: right;
  }
  .hl-filters-dropdowns {
    float: left;
  }
  .hl-menu-items {
    padding-left: 19px;
    padding-top: 10px;
  }
}
@media(max-width: 768px) {
  .hl-topbar-subtabs.hl-nav-pills {
    padding-top: 0;
  }
  .hl-top-filters {
    margin-top: 5px;
  }
  #hl-wrapper {
    padding-left: 0;
  }
  .hl-filters-dropdowns {
    padding-top: 2px;
  }
  .hl-filters-dropdowns .hl-dropdown:last-child span.dropdown-menu {
    right: 0;
    left: auto;
  }
  .hl-menu-item {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}


@media(max-width:640px) {
  .scrollable-wide-wrap table.table-jobs {
    width: 800px;
  }
  .scrollable-wide-wrap table.table {
    min-width: 600px;
  }
}

.hl-page h1,
.hl-page h2,
.hl-page h3,
.hl-page h4,
.hl-page h5 {
  padding-left: 10px;
}


.chart_wrap_loading {
  background-color: #fff;
  color: #7A8A93;
  font-size: 16px;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  position: absolute;
  width: 100%;
  z-index: 30;
  opacity: 1;
  transition: all .2s ease;
  pointer-events: none;
}
.dark .chart_wrap_loading {
  background-color: #242f3e;
  color: #546778;
}
.chart_wrap_rendered .chart_wrap_loading {
  opacity: 0;
}

/* Long label */
.chart_wrap_longlabel .tchart--switchers__side-legend:not(.tchart--switchers__no-space) {
  width: 260px;
}
.chart_wrap_longlabel .tchart--switchers__side-legend .tchart--switcher span,
.chart_wrap_longlabel .tchart--switchers__side-legend .tchart--switcher__active span,
.chart_wrap_longlabel .tchart--tip-row span {
  max-width: 200px;
}

.chart_wrap .tchart {
  font-family: inherit;
}

.tchart--tip {
  padding-bottom: 8px;
}
.chart_wrap .tchart--tip.tchart--tip__scroll .tchart--tip-scroller {
  -webkit-overflow-scrolling: touch;
  margin-right: -6px;
}
.chart_wrap__custom_scroll .tchart--tip.tchart--tip__scroll .tchart--tip-scroller {
  -webkit-overflow-scrolling: touch;
  padding-right: 4px;
  margin-right: -6px;
}
.chart_wrap__custom_scroll .tchart--tip.tchart--tip__scroll .tchart--tip-scroller::-webkit-scrollbar {
  margin: 0;
  padding: 0;
  width: 2px;
  right: 0;
  position: absolute;
  opacity: 0;
  transition: opacity .2s ease;
}
.chart_wrap__custom_scroll .tchart--tip.tchart--tip__scroll .tchart--tip-scroller::-webkit-scrollbar-track {
  margin: 0;
  padding: 0;
}
.chart_wrap__custom_scroll .tchart--tip.tchart--tip__scroll .tchart--tip-scroller::-webkit-scrollbar-thumb {
  margin: 0;
  padding: 0;
  border-radius: 3px;
  background: rgba(0,0,0,0.2);
}

.chart_wrap_tooltip_on_hover .tchart--tip-scroller {
  max-height: 210px;
  overflow: hidden;
}
.chart_wrap .tchart--tip-scroller-wrapper:before {
  pointer-events: none;
  top: -1px;
}
.chart_wrap .tchart--tip-scroller-wrapper:after {
  pointer-events: none;
  bottom: -1px;
}
.chart_wrap_tooltip_on_hover .tchart--tip-scroller-wrapper:before,
.chart_wrap_tooltip_on_hover .tchart--tip-scroller-wrapper:after {
  display: none;
}


.chart_wrap {
  position: relative;
  margin: 0 -10px;
  transition: all .3s ease;
}
.chart_wrap.chart_wrap_rendered {
  min-height: 0 !important;
}
.chart_wrap + .chart_wrap {
  margin-top: 20px;
}


.rickshaw_legend {
  width: 150px;
  z-index: 10;

  background-color: white;
  margin-left: 0;
  padding: 0;
  left: 0;
}
.chart_bottom_legend {
  position: static;
  width: auto;
  color: inherit;
}
.chart_legend ul {
  padding: 0;
}
.chart_bottom_legend ul {
  display: inline-block;
}
.chart_bottom_legend .line {
  display: inline-block;
}
.chart_bottom_legend_x {
  display: inline-block;
  width: 17em;
  /*float: right;*/
}
.chart_bottom_legend_value {
  display: inline-block;
  margin-left: 5px;
}
.rickshaw_legend .line {
  line-height: 25px;
}
.rickshaw_legend .line.disabled {
  opacity: 1;
}

.rickshaw_legend .line .swatch {
  width: 15px;
  height: 15px;
  margin: 0 10px 0 3px;
  border-radius: 0;
  border: 0;
  vertical-align: text-bottom;
}
.rickshaw_legend .line .action {
  width: 25px;
  height: 25px;
  display: inline-block;
  text-decoration: none !important;
  opacity: 1;
  vertical-align: top;
}
.rickshaw_legend .line.disabled .action {
  opacity: 0;
}
.rickshaw_legend .line .action .icon-tick {
  display: inline-block;
  background: #FFF;
  height: 9px;
  width: 17px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border-width: 0 0 3px 3px;
  border-style: solid;
  margin: 3px 0 0;
  vertical-align: text-top;
}
.rickshaw_legend .line .label {
  color: #404040;
  line-height: 25px;
  font-size: 14px;
}

.rickshaw_graph path.line {
  stroke-width: 1;
}
.rickshaw_graph .detail {
  z-index: 11;
}
.rickshaw_graph .detail .x_label {
  display: none;
}
.rickshaw_graph .detail .item {
  font-size:14px;
  line-height: 1.4;
  padding: 0.5em;
}
.detail_swatch {
  float: right;
  display: inline-block;
  width: 11px;
  height: 11px;
  margin: 3px 7px 0 0;
}
.rickshaw_graph .detail .date {
  color: #a0a0a0;
}





.change_up {
  color: #6a6;
  padding-left: 5px;
}
.change_down {
  color: #a66;
  padding-left: 5px;
}
.change_none {
  color: #888;
  padding-left: 5px;
}
.change_up.slightly {
  color: #9BB388;
}
.change_down.slightly {
  color: #CC9483;
}
td .change_up,
td .change_down,
td .change_none {
  float: right;
}
.dark .change_up {
  color: #71BD71;
}
.dark .change_down {
  color: #E86B6B;
}
.dark .change_none {
  color: #969A9E;
}
.dark .change_up.slightly {
  color: #869C75;
}
.dark .change_down.slightly {
  color: #AD7D74;
}

.dark .table-bordered,
.dark .table-bordered>thead>tr>th,
.dark .table-bordered>tbody>tr>th,
.dark .table-bordered>tfoot>tr>th,
.dark .table-bordered>thead>tr>td,
.dark .table-bordered>tbody>tr>td,
.dark .table-bordered>tfoot>tr>td {
  border-color: #404C5C;
}

.dark .table-hover>tbody>tr:hover>td,
.dark .table-hover>tbody>tr:hover>th {
  background-color: #3C4756;
}

.dark .table>thead>tr>td.warning,
.dark .table>tbody>tr>td.warning,
.dark .table>tfoot>tr>td.warning,
.dark .table>thead>tr>th.warning,
.dark .table>tbody>tr>th.warning,
.dark .table>tfoot>tr>th.warning,
.dark .table>thead>tr.warning>td,
.dark .table>tbody>tr.warning>td,
.dark .table>tfoot>tr.warning>td,
.dark .table>thead>tr.warning>th,
.dark .table>tbody>tr.warning>th,
.dark .table>tfoot>tr.warning>th,
.dark .table>thead>tr>td.bg-warning,
.dark .table>tbody>tr>td.bg-warning,
.dark .table>tfoot>tr>td.bg-warning,
.dark .table>thead>tr>th.bg-warning,
.dark .table>tbody>tr>th.bg-warning,
.dark .table>tfoot>tr>th.bg-warning,
.dark .table>thead>tr.bg-warning>td,
.dark .table>tbody>tr.bg-warning>td,
.dark .table>tfoot>tr.bg-warning>td,
.dark .table>thead>tr.bg-warning>th,
.dark .table>tbody>tr.bg-warning>th,
.dark .table>tfoot>tr.bg-warning>th {
  background-color: #474644;
}
.dark .table>thead>tr>td.warning:hover,
.dark .table>tbody>tr>td.warning:hover,
.dark .table>tfoot>tr>td.warning:hover,
.dark .table>thead>tr>th.warning:hover,
.dark .table>tbody>tr>th.warning:hover,
.dark .table>tfoot>tr>th.warning:hover,
.dark .table>thead>tr.warning>td:hover,
.dark .table>tbody>tr.warning>td:hover,
.dark .table>tfoot>tr.warning>td:hover,
.dark .table>thead>tr.warning>th:hover,
.dark .table>tbody>tr.warning>th:hover,
.dark .table>tfoot>tr.warning>th:hover,
.dark .table-hover>tbody>tr>td.warning:hover,
.dark .table-hover>tbody>tr>th.warning:hover,
.dark .table-hover>tbody>tr.warning:hover>td,
.dark .table-hover>tbody>tr:hover>.warning,
.dark .table-hover>tbody>tr.warning:hover>th,
.dark .table>thead>tr>td.bg-warning:hover,
.dark .table>tbody>tr>td.bg-warning:hover,
.dark .table>tfoot>tr>td.bg-warning:hover,
.dark .table>thead>tr>th.bg-warning:hover,
.dark .table>tbody>tr>th.bg-warning:hover,
.dark .table>tfoot>tr>th.bg-warning:hover,
.dark .table>thead>tr.bg-warning>td:hover,
.dark .table>tbody>tr.bg-warning>td:hover,
.dark .table>tfoot>tr.bg-warning>td:hover,
.dark .table>thead>tr.bg-warning>th:hover,
.dark .table>tbody>tr.bg-warning>th:hover,
.dark .table>tfoot>tr.bg-warning>th:hover,
.dark .table-hover>tbody>tr>td.bg-warning:hover,
.dark .table-hover>tbody>tr>th.bg-warning:hover,
.dark .table-hover>tbody>tr.bg-warning:hover>td,
.dark .table-hover>tbody>tr:hover>.bg-warning,
.dark .table-hover>tbody>tr.bg-warning:hover>th {
  background-color: #53514D;
}
.dark .table>thead>tr>td.success,
.dark .table>tbody>tr>td.success,
.dark .table>tfoot>tr>td.success,
.dark .table>thead>tr>th.success,
.dark .table>tbody>tr>th.success,
.dark .table>tfoot>tr>th.success,
.dark .table>thead>tr.success>td,
.dark .table>tbody>tr.success>td,
.dark .table>tfoot>tr.success>td,
.dark .table>thead>tr.success>th,
.dark .table>tbody>tr.success>th,
.dark .table>tfoot>tr.success>th,
.dark .table>thead>tr>td.bg-success,
.dark .table>tbody>tr>td.bg-success,
.dark .table>tfoot>tr>td.bg-success,
.dark .table>thead>tr>th.bg-success,
.dark .table>tbody>tr>th.bg-success,
.dark .table>tfoot>tr>th.bg-success,
.dark .table>thead>tr.bg-success>td,
.dark .table>tbody>tr.bg-success>td,
.dark .table>tfoot>tr.bg-success>td,
.dark .table>thead>tr.bg-success>th,
.dark .table>tbody>tr.bg-success>th,
.dark .table>tfoot>tr.bg-success>th {
  background-color: #456148;
}
.dark .table>thead>tr>td.success:hover,
.dark .table>tbody>tr>td.success:hover,
.dark .table>tfoot>tr>td.success:hover,
.dark .table>thead>tr>th.success:hover,
.dark .table>tbody>tr>th.success:hover,
.dark .table>tfoot>tr>th.success:hover,
.dark .table>thead>tr.success>td:hover,
.dark .table>tbody>tr.success>td:hover,
.dark .table>tfoot>tr.success>td:hover,
.dark .table>thead>tr.success>th:hover,
.dark .table>tbody>tr.success>th:hover,
.dark .table>tfoot>tr.success>th:hover,
.dark .table-hover>tbody>tr>td.success:hover,
.dark .table-hover>tbody>tr>th.success:hover,
.dark .table-hover>tbody>tr.success:hover>td,
.dark .table-hover>tbody>tr:hover>.success,
.dark .table-hover>tbody>tr.success:hover>th,
.dark .table>thead>tr>td.bg-success:hover,
.dark .table>tbody>tr>td.bg-success:hover,
.dark .table>tfoot>tr>td.bg-success:hover,
.dark .table>thead>tr>th.bg-success:hover,
.dark .table>tbody>tr>th.bg-success:hover,
.dark .table>tfoot>tr>th.bg-success:hover,
.dark .table>thead>tr.bg-success>td:hover,
.dark .table>tbody>tr.bg-success>td:hover,
.dark .table>tfoot>tr.bg-success>td:hover,
.dark .table>thead>tr.bg-success>th:hover,
.dark .table>tbody>tr.bg-success>th:hover,
.dark .table>tfoot>tr.bg-success>th:hover,
.dark .table-hover>tbody>tr>td.bg-success:hover,
.dark .table-hover>tbody>tr>th.bg-success:hover,
.dark .table-hover>tbody>tr.bg-success:hover>td,
.dark .table-hover>tbody>tr:hover>.bg-success,
.dark .table-hover>tbody>tr.bg-success:hover>th {
  background-color: #507053;
}
.dark .table>thead>tr>td.danger,
.dark .table>tbody>tr>td.danger,
.dark .table>tfoot>tr>td.danger,
.dark .table>thead>tr>th.danger,
.dark .table>tbody>tr>th.danger,
.dark .table>tfoot>tr>th.danger,
.dark .table>thead>tr.danger>td,
.dark .table>tbody>tr.danger>td,
.dark .table>tfoot>tr.danger>td,
.dark .table>thead>tr.danger>th,
.dark .table>tbody>tr.danger>th,
.dark .table>tfoot>tr.danger>th,
.dark .table>thead>tr>td.bg-danger,
.dark .table>tbody>tr>td.bg-danger,
.dark .table>tfoot>tr>td.bg-danger,
.dark .table>thead>tr>th.bg-danger,
.dark .table>tbody>tr>th.bg-danger,
.dark .table>tfoot>tr>th.bg-danger,
.dark .table>thead>tr.bg-danger>td,
.dark .table>tbody>tr.bg-danger>td,
.dark .table>tfoot>tr.bg-danger>td,
.dark .table>thead>tr.bg-danger>th,
.dark .table>tbody>tr.bg-danger>th,
.dark .table>tfoot>tr.bg-danger>th {
  background-color: #6E4146;
}
.dark .table>thead>tr>td.danger:hover,
.dark .table>tbody>tr>td.danger:hover,
.dark .table>tfoot>tr>td.danger:hover,
.dark .table>thead>tr>th.danger:hover,
.dark .table>tbody>tr>th.danger:hover,
.dark .table>tfoot>tr>th.danger:hover,
.dark .table>thead>tr.danger>td:hover,
.dark .table>tbody>tr.danger>td:hover,
.dark .table>tfoot>tr.danger>td:hover,
.dark .table>thead>tr.danger>th:hover,
.dark .table>tbody>tr.danger>th:hover,
.dark .table>tfoot>tr.danger>th:hover,
.dark .table-hover>tbody>tr>td.danger:hover,
.dark .table-hover>tbody>tr>th.danger:hover,
.dark .table-hover>tbody>tr.danger:hover>td,
.dark .table-hover>tbody>tr:hover>.danger,
.dark .table-hover>tbody>tr.danger:hover>th,
.dark .table>thead>tr>td.bg-danger:hover,
.dark .table>tbody>tr>td.bg-danger:hover,
.dark .table>tfoot>tr>td.bg-danger:hover,
.dark .table>thead>tr>th.bg-danger:hover,
.dark .table>tbody>tr>th.bg-danger:hover,
.dark .table>tfoot>tr>th.bg-danger:hover,
.dark .table>thead>tr.bg-danger>td:hover,
.dark .table>tbody>tr.bg-danger>td:hover,
.dark .table>tfoot>tr.bg-danger>td:hover,
.dark .table>thead>tr.bg-danger>th:hover,
.dark .table>tbody>tr.bg-danger>th:hover,
.dark .table>tfoot>tr.bg-danger>th:hover,
.dark .table-hover>tbody>tr>td.bg-danger:hover,
.dark .table-hover>tbody>tr>th.bg-danger:hover,
.dark .table-hover>tbody>tr.bg-danger:hover>td,
.dark .table-hover>tbody>tr:hover>.bg-danger,
.dark .table-hover>tbody>tr.bg-danger:hover>th {
  background-color: #7D4A50;
}

.hl-page {
  padding: 0 15px 40px;
  margin: 0 auto;
}

.td-image {
  width: 26px;
  height: 26px;
  background-color: #d9edf7;
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
  position: relative;
  top: 0;
  left: 0;
  transition: .2s ease-out;
  transition-property: width, height, top, left, margin;
}
.table > tbody > tr .cell-middle {
  vertical-align: middle;
}
.table > tbody > tr .cell-muted-label {
  vertical-align: middle;
  font-weight: normal;
  color: gray;
}
.dark .table > tbody > tr .cell-muted-label {
  color: #969A9E;
}
.td-image:hover {
  position: relative;
  width: 50px;
  height: 50px;
  top: 12px;
  left: 12px;
  margin-left: -24px;
  margin-top: -24px;
  margin-right: 20px;
}

.chart_csv_export_wrap {
  /*float: right;
  clear: right;*/
  /*position: absolute;
  right: 200px;
  top: -5px;
  z-index: 1;*/
}
a.csv_link {
  float: left;
  clear: left;
  display: block;
  width: 70px;
  margin: 10px 16px;
  border: 0;
  color: #0088cc;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  padding: 8px 12px;
  transition: all .2s ease;
  border-radius: 16px;
}
a.csv_link:hover {
  background-color: #f0f6fa;
  text-decoration: none;
  color: #0088cc;
}

.phone_info_full {
  font-size: 11px;
}

.phone_info_full ul {
  padding-left: 30px;
}

/*Jobs candidates styles*/

.jobs-header {
  margin: 20px 0 10px;
}
.jobs-header .left-links,
.jobs-header .right-links {
  font-size: 14px;
  margin: 12px 0;
  float: right;
}
.jobs-header .left-links {
  font-weight: 500;
  float: left;
}
.jobs-header .left-links .divider:before,
.jobs-header .right-links .divider:before {
  content: '·';
  margin: 0 12px;
  font-weight: 500;
  color: #a8a8a8;
}
.jobs-header .hl-nav-pills {
  float: left;
  padding: 3px 10px 3px 0;
}
.sort-asc:after,
.sort-desc:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 7px;
  vertical-align: middle;
  border-top: 6px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent
}
.sort-asc:after {
  border-bottom: 6px solid;
  border-top: 0 solid;
}
.td-search-wrap {
  position: relative;
  overflow: hidden;
}
.td-search-wrap:before {
  content: '';
  position: absolute;
  left: 23px;
  top: 10px;
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  background-image: url('data:image/svg+xml,%3Csvg height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="none" fill-rule="evenodd" stroke="%23bbb" transform="translate(1 3)"%3E%3Ccircle cx="10.5" cy="5.5" r="5.5" stroke-width="2"/%3E%3Cpath d="m4 9.5c-.27614237 0-.5.22385763-.5.5v5c0 .2761424.22385763.5.5.5s.5-.2238576.5-.5v-5c0-.27614237-.22385763-.5-.5-.5z" fill="%23d8d8d8" transform="matrix(.70710678 .70710678 -.70710678 .70710678 10.010408 .832738)"/%3E%3C/g%3E%3C/svg%3E');
}
.td-search {
  padding: 8px 17px 10px 64px;
  font-size: 14px;
  border: none;
}
.td-search:focus {
  border: none;
  box-shadow: none;
}
table.table-fixed tr {
  border: 1px solid #e8e8e8;
}
.dark table.table-fixed tr {
  border-color: #404C5C;
}
img.td-photo,
span.photo-char {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #efefef;
  float: left;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  overflow: hidden;
}
img.photo-viewer[data-full-src] {
  cursor: pointer;
}
span.photo-char {
  font-size: 20px;
  vertical-align: middle;
  line-height: 40px;
  color: #999;
}
.jobs-date {
  position: absolute;
  color: #a8a8a8;
  bottom: 10px;
}
.jobs-date a {
  color: inherit;
}
.dark .jobs-date {
  color: #969A9E;
}
table.table-fixed tr th,
table.table-fixed tr td {
  position: relative;
  padding: 12px 8px 32px;
}
table.table-fixed tr td big {
  font-size: 1.1em;
  font-weight: bold;
  display: block;
  padding-bottom: 2px;
}
table.table-fixed thead tr:first-child th:first-child,
table.table-fixed tbody tr th:first-child,
table.table-fixed tr td:first-child {
  padding-left: 16px;
  padding-right: 0;
}
table.table-fixed tr th:last-child,
table.table-fixed tr td:last-child {
  padding-right: 16px;
}
table.table-fixed tr th {
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: bold;
}
table.table-fixed tr th,
table.table-fixed tr td {
  word-break: break-word;
  border: none;
}
table.table-fixed td label {
  font-weight: normal;
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
table.table-fixed td label + label {
  margin-right: 15px;
}
table.table-fixed td label input.hide-checkbox,
table.table-fixed td label input.fave-checkbox {
  position: absolute;
  left: -100px;
}
table.table-fixed td label input.hide-checkbox + .icon {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  background-image: url('data:image/svg+xml,%3Csvg%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20width%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%23aeb3b7%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22m15.5626454%204.23305534.2042993.2042993c.3905243.39052429.3905243%201.02368927%200%201.41421356l-9.9153765%209.9153765c-.39052429.3905243-1.02368927.3905243-1.41421356%200l-.2042993-.2042993c-.39052429-.3905243-.39052429-1.0236893%200-1.4142136l9.91537646-9.91537646c.3905243-.39052429%201.0236893-.39052429%201.4142136%200z%22%2F%3E%3Cpath%20d%3D%22m4.43735464%204.23305534-.2042993.2042993c-.39052429.39052429-.39052429%201.02368927%200%201.41421356l9.91537646%209.9153765c.3905243.3905243%201.0236893.3905243%201.4142136%200l.2042993-.2042993c.3905243-.3905243.3905243-1.0236893%200-1.4142136l-9.9153765-9.91537646c-.39052429-.39052429-1.02368927-.39052429-1.41421356%200z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}
table.table-fixed td label input.hide-checkbox:checked + .icon {
  background-image: url('data:image/svg+xml,%3Csvg%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20width%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20transform%3D%22translate%281%20-1%29%22%3E%3Cpath%20d%3D%22m6.85723525%2015.8841139c1.03908268.7043927%202.292869%201.1158861%203.64276475%201.1158861%203.5898509%200%206.5-2.9101491%206.5-6.5%200-3.58985087-2.9101491-6.5-6.5-6.5-3.58985087%200-6.5%202.91014913-6.5%206.5%22%20stroke%3D%22%23aeb3b7%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%2F%3E%3Cpath%20d%3D%22m1.20710678%2010h5.82129088c.27614237%200%20.5.2238576.5.5%200%20.1388794-.05776237.2715021-.15944803.3660934l-3.01584949%202.8054414c-.19704162.1832945-.50381311.1777522-.69410536-.01254l-2.80544139-2.8054414c-.19526214-.1952622-.19526214-.5118446%200-.7071068.09376819-.0937682.22094515-.1464466.35355339-.1464466z%22%20fill%3D%22%23aeb3b7%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}
table.table-fixed td label input.fave-checkbox + .icon {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  background-image: url('data:image/svg+xml,%3Csvg%20class%3D%22bq-rating-stars%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20width%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cpath%20d%3D%22m8.93887915%201.78386544c-.01182111.00489919-.02177324.01430797-.02705449.02706512l-1.87473767%204.52853179-4.8752243.39267602c-.01312131.00105686-.02529649.00724558-.03388337.01722312-.00900651.01046514-.01291855.02359016-.01196266.03635052.00095588.01276037.00677967.02515607.01724481.03416259l3.71473262%203.1969753-1.13360327%204.7745939c-.00305572.0128703-.00088675.0264271.00603194.0377016.00722154.011768.01852934.0194948.03097376.0224743.01244441.0029794.02602545.0012115.03779345-.0060101l4.16883242-2.558239%204.16883241%202.558239c.0112745.0069187.0248313.0090877.0377016.006032.0134337-.0031895.0243028-.0115221.0310162-.0224158.0067133-.0108936.0092708-.0243483.0060814-.037782l-1.1336033-4.7745939%203.7147326-3.1969753c.0099775-.00858688.0161663-.02076206.0172231-.03388337.0011085-.01376255-.0034663-.02667151-.0117589-.03641696-.0082925-.00974545-.0203029-.01632739-.0340654-.0174359l-4.8752243-.39267602-1.87473768-4.52853179c-.00507489-.01225869-.01481394-.02199773-.06534097-.02706512z%22%20stroke%3D%22%23aeb3b7%22%20stroke-width%3D%221.5%22%20fill%3D%22none%22%20transform%3D%22translate%28.2%20.5%29%20scale%281.1%201.1%29%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
}
table.table-fixed td label input.fave-checkbox:checked + .icon {
  background-image: url('data:image/svg+xml,%3Csvg%20class%3D%22bq-rating-stars%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20width%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cpath%20d%3D%22m8.93887915%201.78386544c-.01182111.00489919-.02177324.01430797-.02705449.02706512l-1.87473767%204.52853179-4.8752243.39267602c-.01312131.00105686-.02529649.00724558-.03388337.01722312-.00900651.01046514-.01291855.02359016-.01196266.03635052.00095588.01276037.00677967.02515607.01724481.03416259l3.71473262%203.1969753-1.13360327%204.7745939c-.00305572.0128703-.00088675.0264271.00603194.0377016.00722154.011768.01852934.0194948.03097376.0224743.01244441.0029794.02602545.0012115.03779345-.0060101l4.16883242-2.558239%204.16883241%202.558239c.0112745.0069187.0248313.0090877.0377016.006032.0134337-.0031895.0243028-.0115221.0310162-.0224158.0067133-.0108936.0092708-.0243483.0060814-.037782l-1.1336033-4.7745939%203.7147326-3.1969753c.0099775-.00858688.0161663-.02076206.0172231-.03388337.0011085-.01376255-.0034663-.02667151-.0117589-.03641696-.0082925-.00974545-.0203029-.01632739-.0340654-.0174359l-4.8752243-.39267602-1.87473768-4.52853179c-.00507489-.01225869-.01481394-.02199773-.06534097-.02706512z%22%20stroke%3D%22%23aeb3b7%22%20stroke-width%3D%221.5%22%20fill%3D%22%23aeb3b7%22%20transform%3D%22translate%28.2%20.5%29%20scale%281.1%201.1%29%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
}

.popup-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.6);
  z-index: 101;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.media-popup-container {
  padding: 30px 10px;
}
.media-popup-container .media-popup-cover {
  background: #efefef no-repeat center;
  background-size: cover;
  transition: opacity .15s ease, visibility .15s ease;
  border-radius: 2px;
  overflow: hidden;
}
.media-popup-container .circle-progress-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: all ease .1s;
  transform: scale3d(1, 1, 1);
  visibility: visible;
  opacity: 1;
}
.media-popup-container .circle-progress-wrap.ohide,
.media-popup-container.fullsize .circle-progress-wrap,
.media-popup-container .media-popup-wrap.file-loaded .circle-progress-wrap {
  visibility: hidden;
  opacity: 0;
}
.media-popup-container .circle-progress.infinite {
  transition: stroke-width ease .1s, r ease .1s;
}
.media-popup-container .media {
  box-shadow: 0 0 12px rgba(0, 0, 0, .3);
  transition: opacity .15s ease, visibility .15s ease;
  border-radius: 2px;
  overflow: hidden;
}
.media-popup-container .media-photo {
  background: no-repeat center;
  background-size: cover;
}
.media-popup-container .media-video {
  vertical-align: top;
}
.media-popup-container .media-video:focus {
  outline: none;
}
.media-popup-container.scroll-x {
  justify-content: start;
  padding-right: 0;
}
.media-popup-container.scroll-x .media-popup-wrap {
  padding-right: 10px;
}
.media-popup-container.scroll-y {
  align-items: start;
  padding-bottom: 0;
}
.media-popup-container.scroll-y .media-popup-wrap {
  padding-bottom: 30px;
}
.media-popup-container.can-zoom .media-popup-wrap {
  cursor: zoom-in;
}
.media-popup-container.fullsize.can-zoom .media-popup-wrap {
  cursor: zoom-out;
}
@media (min-width: 560px) {
  .media-popup-container {
    padding: 50px;
  }
  .media-popup-container.scroll-x {
    justify-content: start;
    padding-right: 0;
  }
  .media-popup-container.scroll-x .media-popup-wrap {
    padding-right: 50px;
  }
  .media-popup-container.scroll-y {
    align-items: start;
    padding-bottom: 0;
  }
  .media-popup-container.scroll-y .media-popup-wrap {
    padding-bottom: 50px;
  }
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #0f9ae4;
    border-radius: 50%;
    text-decoration: none;
    transition: opacity 0.3s;
    z-index: 9999;
    border: none;
    cursor: pointer;
    display: none;
}

#back-to-top::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    transform: translate(-50%, -60%) rotate(-45deg);
}

#back-to-top:hover {
    background-color: #57b8ec;
}