body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #222;
  margin: 0;
  padding: 0;
}

.tr-container,
.tr-container header {
  min-width: 970px;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #0f9ae4;
}

.btn,
a.btn,
button.btn {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 7px 16px 6px;
  border: none;
}
.btn:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.125);
}
.btn-xs,
a.btn-xs,
button.btn-xs {
  font-size: 11px;
  line-height: 14px;
  padding: 4px 7px 2px;
}
.btn-sm,
a.btn-sm,
button.btn-sm {
  padding: 5px 14px 4px;
}
.btn-lg,
a.btn-lg,
button.btn-lg {
  padding: 9px 16px 8px;
}
.btn-primary {
  background-color: #0f9ae4;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #068cd4;
}
.btn-default {
  background-color: transparent;
  color: #0086d3;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.open > .dropdown-toggle.btn-default {
  color: #0086d3;
  background-color: #e8f3fa;
  box-shadow: none;
}
.btn-default.btn-danger {
  color: #d14e4e;
  background-color: transparent;
}
.btn-default.btn-danger:hover,
.btn-default.btn-danger:focus,
.btn-default.btn-danger:active {
  color: #d14e4e;
  background-color: #fcdfde;
}
.btn-muted {
  color: #1a1a1a;
  background-color: #f2f2f2;
}

.btn:focus,
.btn:active:focus,
button:focus,
button:active:focus,
input.form-control:focus,
textarea.form-control:focus,
input.form-control,
textarea.form-control {
  outline: none;
  box-shadow: none;
}
input.form-control[disabled],
textarea.form-control[disabled] {
  cursor: auto;
  background-color: #fff;
}

.emoji {
  font-style: normal;
  box-sizing: content-box;
}
.emoji > b {
  font-weight: normal;
}
.emoji_default .emoji {
  background: none !important;
}
.emoji_image .emoji {
  width: 1.25em;
  vertical-align: top;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  background: no-repeat 2px 50%;
  background-position-y: calc(50% - 1px);
  background-size: 1.25em 1.25em;
  text-indent: -10em;
  padding: 3px 3px 3px 2px;
  margin: -3px -2px;
}
.emoji_image .rtl .emoji {
  padding-left: 3px;
  padding-right: 2px;
}
.emoji_image .emoji > b {
  letter-spacing: 12em;
  pointer-events: none;
}

.form-control {
  font-size: 14px;
}

.container,
.container-fluid {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.xs-hide {
  display: none;
}
.xs-show {
  display: block;
}
@media (min-width: 768px) {
  .sm-hide {
    display: none;
  }
  .sm-show {
    display: block;
  }
}
@media (min-width: 992px) {
  .md-hide {
    display: none;
  }
  .md-show {
    display: block;
  }
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .lg-hide {
    display: none;
  }
  .lg-show {
    display: block;
  }
  .container {
    width: 1170px;
  }
}

.bg-image {
  background: #f7f7f7 no-repeat center;
  background-size: cover;
}

.handle-tooltip {
  position: relative;
  cursor: help;
}
.handle-tooltip:before {
  position: absolute;
  left: 0;
  bottom: 100%;
  display: inline-block;
  content: attr(data-title);
  white-space: nowrap;
  font-weight: normal;
  text-align: left;
  font-size: 13px;
  line-height: 19px;
  border-radius: 3px;
  background: rgba(0, 0, 0, .75);
  margin: 9px -9px;
  padding: 5px 12px;
  color: #fff;
  z-index: 4;
  text-transform: none;
  pointer-events: none;
  transition: all .15s ease;
  visibility: hidden;
  opacity: 0;
  cursor: auto;
}
.handle-tooltip:hover:before {
  transition-delay: .3s;
  visibility: visible;
  opacity: 1;
}


.tr-menu {
  float: left;
  width: 216px;
  border-right: 1px solid #e7e7e7;
  padding: 12px 0 0;

  position: fixed;
  overflow: auto;
  overflow-x: none;
  bottom: 0;
  top: 56px;
}
.tr-menu-section {
  -webkit-user-select: none;
  user-select: none;
}
.tr-menu-header {
  position: relative;
  cursor: pointer;
}
.tr-menu-header-label {
  font-size: 13px;
  line-height: 17px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 16px 15px 14px;
  color: #a8a8a8;
  transition: all .2s ease;
}
.tr-menu-header-collapse {
  position: absolute;
  display: inline-block;
  transition: all .2s ease;
  transform: rotateZ(-135deg);
  transform-origin: 3px 3px;
  right: 24px;
  top: 21px;
}
.tr-menu-section-collapsed .tr-menu-header-collapse {
  transform: rotateZ(-225deg);
}
.tr-menu-header-collapse:before,
.tr-menu-header-collapse:after {
  position: absolute;
  display: inline-block;
  content: '';
  width: 8px;
  height: 8px;
  background-color: #a8a8a8;
}
.tr-menu-header-collapse:after {
  background-color: #fff;
  transform: translate3d(2px, 2px, 0);
}
.tr-menu-items,
.tr-menu-items > li {
  display: block;
  padding: 0;
  margin: 0;
}
.tr-menu-items {
  position: relative;
  overflow: hidden;
  opacity: 1;
  visibility: visible;
  transition: all .2s ease;
}
.tr-menu-section .tr-menu-items {
  margin-bottom: 10px;
}
.tr-menu-section-collapsed > .tr-menu-items {
  margin-bottom: 0;
  opacity: 0;
  visibility: hidden;
  height: 0 !important;
}
.tr-menu-items .active {
  transition: opacity .2s step-end;
}
.tr-menu-section-collapsed > .tr-menu-items .active {
  transition: opacity .2s step-start;
  opacity: 0;
}
.tr-menu-item {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #222;
  padding: 15px 15px 14px;
  margin: 0;
  transition: all .2s ease;
  -webkit-font-smoothing: subpixel-antialiased;
  cursor: pointer;
}
.tr-menu-section .tr-menu-item {
  padding: 9px 15px;
}
.tr-menu-item .nav-label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.active .tr-menu-item,
a.tr-menu-item:hover,
.tr-menu-items .tr-badges:hover + a.tr-menu-item {
  color: #222;
  text-decoration: none;
  background: #f2f2f2;
}
.tr-menu-selected.unavailable .tr-menu-item,
.unavailable a.tr-menu-item {
  color: #a8a8a8;
}
.tr-menu-selected.unavailable .tr-menu-item:hover,
.unavailable a.tr-menu-item:hover {
  color: #222;
}
.tr-menu-selected {
  position: absolute;
  width: 100%;
  z-index: 3;
  pointer-events: none;
}
.tr-menu-section-collapsed.tr-menu-has-selected .tr-menu-header-label {
  opacity: 0;
  visibility: hidden;
}
.tr-menu-selected .tr-menu-item {
  margin-right: 0;
  visibility: hidden;
  transition: all .2s ease;
  background: #f2f2f2;
}
.tr-menu-selected .tr-menu-item-with-desc {
  overflow: hidden;
  height: 36px;
}
.tr-menu-section-collapsed .tr-menu-selected .tr-menu-item {
  font-size: 13px;
  line-height: 17px;
  text-transform: uppercase;
  color: #a8a8a8;
  padding: 16px 32px 14px 15px;
  opacity: 1;
  visibility: visible;
  margin-top: -47px !important;
  background: transparent;
}
.tr-menu-section-collapsed .tr-menu-selected .tr-menu-item-default,
.tr-menu-section-collapsed .tr-menu-selected .tr-menu-item-with-desc {
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  color: inherit;
}
.tr-menu-section-collapsed .tr-menu-selected .tr-menu-item-with-desc {
  padding: 6px 32px 4px 15px;
  height: 47px;
}
.tr-menu-selected .nav-label-desc {
  transition: opacity .2s ease;
  opacity: 0;
}
.tr-menu-section-collapsed .tr-menu-selected .nav-label-desc {
  opacity: 1;
}
.tr-menu-items .tr-badges {
  float: right;
  margin: 15px 15px 14px 4px;
  pointer-events: none;
}
.tr-menu-section .tr-menu-items .tr-badges {
  margin: 9px 15px 9px 4px;
}
.tr-menu-selected .tr-badges {
  float: right;
  margin: 0 0 0 4px;
  transition: margin .2s ease;
}
.tr-menu-item-with-desc {
  padding: 6px 15px 5px;
}
.tr-menu-item-with-desc .nav-label-desc {
  font-size: 12px;
  color: #a8a8a8;
  font-weight: normal;
  padding: 1px 0 0;
}
.tr-badges .tr-badge,
.tr-badges a.tr-badge:hover {
  font-size: 11px;
  padding: 2px 5px 0;
  color: #fff;
  background: #0f9ae4;
  min-width: 18px;
  margin-left: 3px;
  float: right;
  text-decoration: none;
}
.tr-badges a.tr-badge {
  pointer-events: auto;
  cursor: pointer;
}
.tr-badges .tr-badge.unreleased,
.tr-badges a.tr-badge.unreleased:hover {
  background: #f33838;
}
.tr-badges .tr-badge.outdated,
.tr-badges a.tr-badge.outdated:hover {
  background: #f0ad4e;
  color: #fff;
}
.tr-menu-section-collapsed .tr-menu-selected .tr-badges {
  margin-top: -1px;
}
.tr-menu-section-collapsed .tr-menu-selected .tr-menu-item-with-desc .tr-badges {
  margin-top: 9px;
}

.content {
  margin-left: 215px;
  border-left: 1px solid #e7e7e7;
  margin-bottom: 70px;
}
.tr-tabs {
  text-transform: uppercase;
  font-weight: 500;
  overflow: hidden;
}
.tr-tabs .nav > li > a {
  padding: 21px 15px 20px;
  border-bottom: 1px solid #e7e7e7;
  color: #999;
}
.tr-tabs .nav > li.active > a {
  padding-bottom: 18px;
  border-bottom: 3px solid #0f9ae4;
  color: #0086d3;
}
.tr-tabs .nav > li > a:hover,
.tr-tabs .nav > li > a:focus {
  background-color: transparent;
  color: #0086d3;
}
.nav-label {
  margin-right: 6px;
}
.tr-tabs .nav > li > a .tr-badge {
  position: absolute;
  background: #b9b9b9;
  margin-top: -9px;
}
.tr-tabs .nav > li.active > a .tr-badge,
.tr-tabs .nav > li > a:hover .tr-badge,
.tr-tabs .nav > li > a:focus .tr-badge {
  background: #f33838;
}

.tr-section-label {
  display: inline-block;
  position: relative;
}

.tr-header {
  font-size: 17px;
  padding: 25px 15px 15px;
  position: relative;
  margin: 0;
  font-weight: 500;
}
.tr-header,
.tr-header-link,
.tr-header-link:hover {
  color: #222;
}
.tr-header-counter {
  margin-left: 10px;
  color: #999;
}
.tr-header-btn {
  vertical-align: top;
  margin: 1px 0 -3px 15px;
}
.tr-header-btn + .tr-header-btn {
  margin-left: 7px;
}
.tr-header-right {
  font-size: 15px;
  float: right;
  margin: 2px 0 0;
  color: #999;
}
.tr-header-right a {
  color: #999;
}
.tr-header-right a.active {
  color: #0086d3;
}
.tr-header-buttons {
  float: right;
  margin: -5px 0 0;
  transition: all .15s ease;
}
.tr-header-buttons .btn {
  transition: all .15s ease;
}
.tr-header-buttons > .btn + .btn {
  margin-left: 15px;
}
.tr-header-tabs + .tr-header-buttons {
  margin-right: 25px;
}
.tr-header-processing {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 15px;
  line-height: 20px;
  color: #a8a8a8;
  margin: 26px 40px 0;
}
.tr-header-tabs {
  float: right;
  margin: 3px 0 0;
  font-size: 15px;
}
.tr-header-tab {
  color: #a8a8a8;
}
.tr-header-tab + .tr-header-tab:before {
  content: '\00b7';
  margin: 0 9px;
  font-weight: 500;
  color: #a8a8a8;
}
.tr-header-tab .tr-badge {
  margin-left: 7px;
  font-size: 12px;
  line-height: 17px;
  padding: 3px 7px 2px;
  min-width: 19px;
}
.tr-back {
  padding: 18px 19px;
  vertical-align: top;
  margin: 0 0 0 -15px;
}
.tr-back:before {
  position: relative;
  top: 2px;
  content: '';
  display: inline-block;
  width: 18px;
  height: 16px;
  background: url('/img/tsf/icons.png?7') no-repeat -5px -105px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .tr-back:before {
    background-image: url('/img/tsf/icons_2x.png?7');
    background-size: 26px 782px;
  }
}
.tr-header-sub {
  color: #a8a8a8;
  font-size: 15px;
  margin-top: 4px;
}

.tr-subheader {
  font-size: 16px;
  font-weight: 500;
  padding: 15px 0;
  margin: 0;
}
.tr-subheader .tr-badge {
  font-size: 12px;
  line-height: 18px;
  padding: 3px 7px 2px;
  min-width: 19px;
  margin-left: 7px;
}

.tr-section-block {
  padding: 20px 15px 0 56px;
}
.tr-actions {
  display: inline-block;
  margin-left: -13px;
}
.tr-action-item {
  display: block;
  position: relative;
  padding: 11px 40px 11px 58px;
  font-weight: 500;
}
/*.tr-action-item:hover {
  text-decoration: none;
}
.tr-action-item .tr-action-label:hover {
  text-decoration: underline;
}*/
.tr-action-item:before {
  position: absolute;
  top: 4px;
  left: 6px;
  display: inline-block;
  width: 32px;
  height: 32px;
  content: '';
  background: url('/img/tsf/icons.png?7') no-repeat -10px -548px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .tr-action-item:before {
    background-image: url('/img/tsf/icons_2x.png?7');
    background-size: 26px 782px;
  }
}
.action-share:before {
  background-position: 6px -453px;
}
.action-edit:before {
  background-position: 4px -485px;
}
.action-team:before {
  background-position: 1px -514px;
}

.arrow-link {
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
.arrow-link:after {
  display: inline-block;
  width: 8px;
  height: 12px;
  content: '';
  background: url('/img/tsf/icons.png?7') no-repeat -10px -548px;
  margin-left: 7px;
  vertical-align: -1px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .arrow-link:after {
    background-image: url('/img/tsf/icons_2x.png?7');
    background-size: 26px 782px;
  }
}

.tr-search {
  position: absolute;
  left: 216px;
  right: 0;
  bottom: 0;
  z-index: 1;
  transition: all .2s ease;
  transform: translateY(49px);
}
.search-collapsed .tr-search {
  transform: translateY(0);
  visibility: hidden;
  opacity: 0;
}
.search-collapsed .tr-search.tr-search-open {
  transform: translateY(49px);
  visibility: visible;
  opacity: 1;
}
.tr-search-field-wrap {
  background: #fff;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
  z-index: 13;
}
.tr-search-form {
  overflow: hidden;
}
.tr-search-form:before,
.tr-popup-search-form:before,
.header-search-btn:before {
  position: absolute;
  top: 17px;
  left: 21px;
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url('/img/tsf/icons.png?7') no-repeat -5px -130px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .tr-search-form:before,
  .tr-popup-search-form:before,
  .header-search-btn:before {
    background-image: url('/img/tsf/icons_2x.png?7');
    background-size: 26px 782px;
  }
}
.header-search-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  text-align: center;
  overflow: hidden;
  margin: -7px -7px -7px 0;
  cursor: pointer;
  transition: all .2s ease;
  transform: translateY(49px);
  visibility: hidden;
  opacity: 0;
}
.search-collapsed .header-search-btn {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
.search-collapsed .tr-search-open + .header-wrap .header-search-btn {
  visibility: hidden;
  opacity: 0;
}
.header-search-btn:before {
  top: 9px;
  left: 8px;
}
.tr-search-filters {
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0 15px 0 9px;
  float: right;
}
.tr-search-filters-label {
  display: inline-block;
  margin: 14px 6px;
  color: #a8a8a8;
}
.tr-search-filter {
  display: inline-block;
  font-weight: 500;
  margin: 11px 0 11px 6px;
  padding: 3px 12px;
  color: #1a1a1a;
  background: #f2f2f2;
  transition: all .2s ease;
  border-radius: 13px;
}
.tr-search-filter.dropdown-toggle {
  cursor: pointer;
}
.tr-search-filter.dropdown-toggle:hover {
  background: #e8e8e8;
}
.open .tr-search-filter.dropdown-toggle,
.open .tr-search-filter.dropdown-toggle:hover {
  background: #0f9ae4;
  color: #fff;
}
.tr-search-filter-wrap {
  position: relative;
  display: inline-block;
  margin: 11px 0 11px 6px;
}
.tr-search-filter-wrap .tr-search-filter {
  display: inline-block;
  margin: 0;
}
.tr-search-field {
  width: 100%;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 14px 0 14px 56px;
  font-size: 14px;
  height: 48px;
  z-index: 1;
}
.tr-search-results {
  position: absolute;
  left: 0;
  right: 0;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
  transition: all .2s ease;
  z-index: 12;
}
.tr-search-results.collapsed {
  max-height: 0;
  opacity: 0;
}
.tr-search-result-loading,
.tr-search-no-results {
  font-size: 13px;
  padding: 12px 15px;
  color: #222;
}
.tr-search-result-loading {
  color: #a8a8a8;
}
.tr-search-result {
  display: block;
  padding: 10px 15px;
  border-bottom: 1px solid #e7e7e7;
  color: #222;
  cursor: pointer;
}
.tr-search-result:hover {
  text-decoration: none;
}
.tr-search-results .selected .tr-search-result {
  background: #f2f2f2;
}
.search-item button.tr-search-button {
  float: right;
  font-size: 12px;
  line-height: 16px;
  padding: 5px 10px 3px;
  margin: 6px 0 6px 15px;
}
.tr-search-result .tr-def-value {
  font-weight: 500;
}
.tr-search-result .tr-value {
  margin-top: 4px;
}
.tr-search-result .tr-lang-key {
  font-size: 12px;
  color: #a8a8a8;
}
.tr-search-result strong {
  font-weight: inherit;
  color: #3399ff;
}
.tr-search-reset.close {
  float: right;
  margin: 11px 0 11px 14px;
  transition: all .2s ease;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  width: 26px;
  height: 26px;
  display: inline-block;
  border-radius: 13px;
}
.tr-search-reset.close:before,
.tr-search-reset.close:after {
  background: #b3b3b3;
  transform: rotateZ(45deg) scaleY(.85);
  width: 16px;
  margin-left: -8px;
}
.tr-search-reset.close:hover:before,
.tr-search-reset.close:hover:after {
  background: #999;
}
.tr-search-reset.close:after {
  transform: rotateZ(-45deg) scaleY(.85);
}
.tr-search-has-value .tr-search-reset.close {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}
.tr-search-has-value .tr-search-reset.close:hover {
  /*background: #f2f2f2;*/
}
.tr-search-binding.binding {
  float: right;
  color: #28a9e8;
  width: 26px;
  height: 26px;
  margin: 11px 0 11px -26px;
  text-align: center;
  font-size: 17px;
  line-height: 26px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease;
}
.tr-search-binding-mode .tr-search-binding.binding {
  opacity: 1;
  visibility: visible;
}
.tr-search-enter.arrow-right {
  float: right;
  margin: 11px 0 11px 15px;
  transition: all .2s ease;
  pointer-events: none;
  visibility: visible;
  opacity: 0;
  width: 26px;
  height: 26px;
  display: inline-block;
  border-radius: 13px;
  background: #f2f2f2;
  transition: all .2s ease;
}
.tr-search-enter.arrow-right:before {
  transition: border-color .2s ease;
  /*border-color: #b3b3b3;*/
  border-color: #1a1a1a;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 10px;
}
.tr-search-enter.arrow-right:after {
  transition: background-color .2s ease;
  /*background: #b3b3b3;*/
  background: #1a1a1a;
  width: 12px;
  margin-left: 7px;
}
.tr-search-enter.arrow-right.selected:before,
.tr-search-enter.arrow-right:hover:before {
  /*border-color: #1a1a1a;*/
}
.tr-search-enter.arrow-right.selected:after,
.tr-search-enter.arrow-right:hover:after {
  /*background: #1a1a1a;*/
}
.tr-search-has-value .tr-search-enter.arrow-right {
  cursor: pointer;
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}
.tr-search-has-value .tr-search-enter.arrow-right.selected:before,
.tr-search-has-value .tr-search-enter.arrow-right:hover:before {
  /*border-color: #fff;*/
}
.tr-search-has-value .tr-search-enter.arrow-right.selected:after,
.tr-search-has-value .tr-search-enter.arrow-right:hover:after {
  /*background: #fff;*/
}
.tr-search-has-value .tr-search-enter.arrow-right.selected,
.tr-search-has-value .tr-search-enter.arrow-right:hover {
  background: #e8e8e8;
  /*background: #2eb2eb;*/
}
.tr-search-binding-mode .tr-search-enter.arrow-right {
  opacity: 0;
  visibility: hidden;
}
.tr-dropdown {
  position: relative;
  display: inline-block;
}
.tr-dropdown .dropdown-menu,
.tr-search-filters span.dropdown-menu {
  left: auto;
  right: 0;
  margin: 5px -4px 0;
  border: 1px solid rgba(0, 0, 0, .06);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.42857143;
  overflow: hidden;
}
.tr-dropdown span.dropdown-menu > ul.dropdown-menu,
.tr-search-filters span.dropdown-menu > ul.dropdown-menu {
  position: static;
  display: block;
  float: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  min-width: 0;
  margin: 0 -20px 0 0;
  padding: 7px 20px 7px 0;
  max-height: 235px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.tr-search-filters span.dropdown-menu:before,
.tr-search-filters span.dropdown-menu:after {
  content: '';
  display: block;
  position: absolute;
  pointer-events: none;
  left: 0;
  right: 0;
  top: 0;
  height: 7px;
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 15%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 15%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 15%, rgba(255,255,255,0) 100%);
  z-index: 1;
}
.tr-search-filters span.dropdown-menu:after {
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 85%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 85%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 85%);
  bottom: 0;
  top: auto;
}
.tr-dropdown .dropdown-menu {
  margin-left: 0;
  margin-top: 10px;
}
.tr-dropdown .dropdown-menu > li > a,
.tr-search-filters ul.dropdown-menu > li > a {
  cursor: pointer;
  padding: 6px 36px 6px 15px;
  margin: 0;
  font-weight: 500;
  position: relative;
  color: #222;
}
.tr-dropdown .dropdown-menu > li > a {
  padding: 8px 36px 8px 18px;
}
.tr-dropdown .dropdown-menu > li > a:hover,
.tr-dropdown .dropdown-menu > li > a:focus,
.tr-search-filters ul.dropdown-menu > li > a:hover,
.tr-search-filters ul.dropdown-menu > li > a:focus {
  background-color: #f4f4f4;
  color: #222;
}
.tr-dropdown .dropdown-menu > li.selected > a:before,
.tr-dropdown .dropdown-menu > li.selected > a:after,
.tr-search-filters ul.dropdown-menu > li.selected > a:before,
.tr-search-filters ul.dropdown-menu > li.selected > a:after {
  position: absolute;
  display: inline-block;
  transform: rotateZ(-135deg);
  transform-origin: 3px 3px;
  right: 16px;
  top: 14px;
  content: '';
  width: 8px;
  height: 13px;
  background-color: #9b9b9b;
}
.tr-dropdown .dropdown-menu > li.selected > a:after,
.tr-search-filters ul.dropdown-menu > li.selected > a:after {
  background-color: #fff;
  transform: rotateZ(-135deg) translate3d(2.5px, 2.5px, 0);
}
.tr-dropdown .dropdown-menu > li.selected > a:hover:after,
.tr-dropdown .dropdown-menu > li.selected > a:focus:after,
.tr-search-filters ul.dropdown-menu > li.selected > a:hover:after,
.tr-search-filters ul.dropdown-menu > li.selected > a:focus:after {
  background-color: #f4f4f4;
}

.form-group .input {
  direction: ltr;
  unicode-bidi: isolate;
}
.form-group.rtl {
  text-align: right;
}
.form-group.rtl .input {
  direction: rtl;
}

.tr-content {
  position: relative;
  overflow: hidden;
}
.tr-content:before {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 8;
  background: #000;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease;
}
.tr-content.open:before {
  opacity: .05;
  visibility: visible;
}

.tr-key-row-wrap .tr-key-row,
.tr-key-row-wrap .tr-key-full-block {
  /*transition: all .2s ease;*/
}
.tr-key-row-wrap .tr-key-full-block {
  margin-left: -1px;
}
.tr-key-row-wrap .tr-key-full-block {
  transform: translateY(-53px);
}
.tr-key-row-wrap .tr-key-full-block,
.tr-key-row-wrap.open .tr-key-row {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.tr-key-row-wrap.open .tr-key-full-block {
  transform: translateY(0);
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}
.tr-key-row-wrap .tr-value-media,
.tr-key-row-wrap .tr-value-body {
  transform-origin: 0 0;
  transition: all .2s ease;
}
.tr-key-row-wrap.open {
  position: relative;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  margin-top: -1px;
  margin-bottom: -1px;
  z-index: 9;
}
.tr-key-row-wrap.open .tr-value-media {
  /*transform: translate3d(0, 53px, 0) scale3d(2.142858, 2.142858, 1);*/
}
.tr-key-row-wrap.open .tr-value-body {
  /*transform: translate3d(197px, 62px, 0) scale3d(1.2, 1.2, 1);*/
}
.tr-key-row-wrap.open .tr-value-media,
.tr-key-row-wrap.open .tr-value-body {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.tr-key-row-wrap .tr-key-row {
  left: 0;
  right: 0;
}
.tr-key-row-wrap.open .tr-key-row {
  transform: translateY(53px);
}

.tr-load-more {
  display: block;
  padding: 50px 15px;
  text-align: center;
  color: #808080;
}
.load-more-btn {
  width: 35%;
}

.tr-members-add-form {
  font-weight: normal;
  float: right;
  margin: -5px 0 0;
}
.tr-members-add-form .form-control,
.tr-members-add-form .form-control:focus {
  width: 310px;
  border: 1px solid #ccc;
}
.tr-members-block {
  padding-bottom: 10px;
}
.tr-member-row-wrap {
  transition: all .2s ease;
}
.tr-member-row {
  display: block;
  font-weight: normal;
  padding: 0 15px 0;
  color: #222;
  margin: 0 1px;
}
.tr-member-photo {
  float: left;
  width: 46px;
  height: 46px;
  border-radius: 23px;
  background: #efefef;
  text-align: center;
  overflow: hidden;
  margin: 11px 0 0;
  position: relative;
}
.tr-member-photo img {
  width: 100%;
}
.tr-member-photo .photo-char {
  font-size: 19px;
  vertical-align: middle;
  line-height: 46px;
  color: #999;
}
.tr-member-photo .tr-member-photo-add {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  margin: auto;
  background: url('/img/tsf/icons.png?7') no-repeat 1px -564px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .tr-member-photo .tr-member-photo-add {
    background-image: url('/img/tsf/icons_2x.png?7');
    background-size: 26px 782px;
  }
}
.tr-member-body {
  margin-left: 59px;
  padding: 10px 0 12px;
}
.tr-member-row-wrap + .tr-member-row-wrap .tr-member-body {
  border-top: 1px solid #e7e7e7;
}
.tr-member-name {
  font-weight: 500;
  margin-top: 4px;
}
.tr-member-name a {
  color: #222;
}
.tr-member-label {
  font-size: 13px;
  line-height: 15px;
  margin: 0 10px;
}
.tr-member-info {
  color: #a8a8a8;
  margin-top: 3px;
}
.tr-member-info a {
  color: #a8a8a8;
}
.tr-member-name-only .tr-member-name {
  margin: 14px 0 13px;
}
.tr-member-buttons {
  position: absolute;
  right: 15px;
  margin: 19px 0 0;
}
.tr-member-add-row .tr-member-photo {
  background: #1f9ce4;
}
.tr-member-add-row .tr-member-photo .photo-char {
  font-size: 29px;
  color: #fff;
}
.tr-member-add-row .tr-member-name a {
  color: #0083cc;
}
.tr-member-name-full:after {
  content: ' / ';
  color: #a8a8a8;
  padding: 0 3px;
}
.tr-member-name-short-wrap {
  position: relative;
}
.tr-member-name-short {
  color: #a8a8a8;
  cursor: pointer;
}
.form-control.tr-member-name-input {
  position: absolute;
  display: inline-block;
  font-size: 15px;
  margin: -7px -13px;
  transition: all .15s ease, width 0s;
  visibility: hidden;
  opacity: 0;
}
.tr-member-buttons {
  transition: all .15s ease;
  visibility: hidden;
  opacity: 0;
}
.tr-member-buttons .btn + .btn {
  margin-left: 7px;
}
.tr-member-row-edit .form-control.tr-member-name-input {
  visibility: visible;
  opacity: 1;
}
.tr-member-row-add .tr-member-buttons.delete-buttons {
  visibility: hidden;
  opacity: 0;
}
.tr-member-buttons.delete-buttons,
.tr-member-row-add .tr-member-buttons.add-buttons {
  visibility: visible;
  opacity: 1;
}

.fill {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.fullname {
  font-weight: 500;
  border-bottom: 1px solid #de8833;
}
.my.fullname {
  border-bottom: 3px double #de8833;
}
a.fullname:hover {
  text-decoration: none;
  border-bottom-color: inherit;
}
.excess {
  color: #de8833;
}

.close {
  position: relative;
  opacity: 0.4;
  transition: opacity .2s ease;
}
.close:hover {
  opacity: 0.85;
}
.close:before,
.close:after {
  display: inline-block;
  position: absolute;
  background: #222;
  left: 50%;
  top: 50%;
  content: '';
  width: 18px;
  height: 2px;
  margin: -1px 0 0 -9px;
  transform: rotateZ(45deg);
}
.close:after {
  transform: rotateZ(-45deg);
}

.arrow-left,
.arrow-right {
  display: inline-block;
  width: 16px;
  height: 14px;
  position: relative;
  opacity: 0.4;
  transition: opacity .2s ease;
}
.arrow-left:before,
.arrow-left:after,
.arrow-right:before,
.arrow-right:after {
  display: inline-block;
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
}
.arrow-left:before,
.arrow-right:before {
  transform: rotateZ(45deg);
  width: 10px;
  height: 10px;
  border: 2px solid #222;
  margin: -5px 0 0 2px;
  border-width: 0 0 2px 2px;
}
.arrow-left:after,
.arrow-right:after {
  background: #222;
  width: 14px;
  height: 2px;
  margin: -1px 0 0 2px;
}
.arrow-right:before {
  margin-left: 4px;
  border-width: 2px 2px 0 0;
}
.arrow-right:after {
  margin-left: 0;
}

.binding {
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  font-size: 92%;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.binding:before {
  content: "\e144";
}

.ohide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.shide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  height: 0 !important;
}

.no-transition,
.no-transition * {
  transition: none !important;
}

.nav-pills > li > a {
  padding: 10px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}
.nav-pills > li.divider {
  border-bottom: 1px solid #ededed;
  padding-bottom: 7px;
  margin-bottom: 7px;
}
.nav-pills > li > a .tr-badge {
  font-size: 11px;
  padding: 2px 5px 0;
  margin-top: 2px;
  background: #0f9ae4;
  float: right;
}
.nav-pills > li.active > a .tr-badge {
  background: #fff;
  color: #0f9ae4;
}
.nav-stacked > li + li {
  margin-top: 0;
}

.popup-buttons .btn-link {
  padding: 9px 15px;
  border-radius: 2px;
}
.popup-buttons .btn-link + .btn-link {
  margin-left: 2px;
}
.popup-buttons .btn-link:hover {
  background: #e6f1f7;
  text-decoration: none;
}
.popup-buttons .btn-link:active {
  background: #d4e6f1;
}
.popup-buttons .btn-link:focus {
  text-decoration: none;
}
.btn.disabled,
.btn[disabled],
.popup-buttons .btn-link.disabled,
.popup-buttons .btn-link[disabled] {
  color: #b5d1e6;
  opacity: 1;
}

.input {
  white-space: pre-wrap;
  position: relative;
  z-index: 0;
}
input.tr-form-control,
textarea.tr-form-control,
.input.tr-form-control {
  padding-left: 0;
  padding-right: 0;
  border: none;
  height: auto;
  resize: none;
  box-shadow: inset 0 -1px 0 #e0e0e0;
  transition: box-shadow .2s ease, color .2s ease;
}
input.tr-form-control[readonly],
textarea.tr-form-control[readonly],
.input.tr-form-control[readonly],
input.tr-form-control[disabled],
textarea.tr-form-control[disabled],
.input.tr-form-control[disabled] {
  cursor: auto;
  background: #fff;
}
input.tr-form-control:focus,
textarea.tr-form-control:focus,
.input.tr-form-control:focus {
  box-shadow: inset 0 -2px 0 #39ade7;
}
input.tr-form-control[readonly]:focus,
textarea.tr-form-control[readonly]:focus,
.input.tr-form-control[readonly]:focus,
input.tr-form-control[disabled]:focus,
textarea.tr-form-control[disabled]:focus,
.input.tr-form-control[disabled]:focus {
  box-shadow: inset 0 -1px 0 #e0e0e0;
}

.tr-description {
  font-size: 15px;
  line-height: 18px;
  color: #222;
  padding: 0 0 6px;
}
textarea.tr-description {
  box-shadow: none;
}
textarea.tr-description:hover {
  box-shadow: inset 0 -1px 0 #e0e0e0;
}
textarea.tr-description:focus {
  color: #222;
}
textarea.tr-description:focus:hover {
  box-shadow: inset 0 -2px 0 #39ade7;
}

.login-popup-container section {
  line-height: 23px;
  max-width: 600px;
}
.login-popup-container h2 {
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.login-popup-container p {
  margin-bottom: 18px;
}
.login-popup-container p.help-block {
  margin-top: 18px;
  margin-bottom: -7px;
}
.login-popup-container .form-control {
  max-width: 280px;
}

.dots-animated:after {
  position: absolute;
  display: inline-block;
  animation: dotty steps(1, end) 1s infinite;
  content: '...';
}

@-webkit-keyframes dotty {
  0%, 100% { content: '';    }
  25%      { content: '.';   }
  50%      { content: '..';  }
  75%      { content: '...'; }
}
@keyframes dotty {
  0%, 100% { content: '';    }
  25%      { content: '.';   }
  50%      { content: '..';  }
  75%      { content: '...'; }
}

header {
  width: 100%;
  margin: 0;
  position: fixed;
  z-index: 100;
  background: #fff;
}
header .header-wrap {
  padding: 8px 0 7px;
  position: relative;
  background: #fff;
  box-shadow: inset 0 -1px 0 #e0e0e0;
  transition: box-shadow .2s ease;
  z-index: 2;
}
header + main {
  padding-top: 56px;
}
.tr-header a.anchor {
  margin-top: -56px;
}
header.has-search + main section.tr-content {
  padding-top: 49px;
}
header.has-message + main {
  margin-top: 112px;
}
header .btn-lg {
  padding: 11px 12px 10px;
}
.header-panel {
  position: relative;
  padding: 0 15px;
  z-index: 7;
}
.header-panel .header-breadcrumb {
  height: 41px;
}
.header-auth {
  float: right;
}
.header-auth-item {
  display: inline-block;
  vertical-align: top;
  padding: 11px 0;
  font-weight: 500;
  white-space: nowrap;
}
.header-auth-item + .header-auth-item {
  margin-left: 25px;
}
.header-auth-link {
  display: inline-block;
  vertical-align: top;
}
.header-auth-photo {
  display: inline-block;
  vertical-align: top;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background: #efefef;
  text-align: center;
  overflow: hidden;
  margin: -7px 15px -7px 0;
}
.header-auth-photo img {
  width: 100%;
}
.header-auth-photo .photo-char {
  font-size: 14px;
  vertical-align: middle;
  line-height: 32px;
  color: #999;
}
.header-search-item {
  padding-bottom: 18px;
  margin-bottom: -18px;
  overflow: hidden;
}
.header-auth-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 190px;
  color: #0086d3;
}
.header-auth-name:after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 7px;
  background: url('/img/tsf/icons.png?7') no-repeat -7px -324px;
  margin: 0 0 2px 7px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .header-auth-name:after {
    background-image: url('/img/tsf/icons_2x.png?7');
    background-size: 26px 782px;
  }
}
.header-auth-name.dropdown-toggle {
  cursor: pointer;
}
.header-auth-name + .dropdown-menu {
  top: -21px;
  left: auto;
  right: -4px;
}
@media (min-width: 1420px) {
  .header-auth-name + .dropdown-menu {
    left: -4px;
    right: auto;
  }
}

.header-message {
  background: #1e98d4;
  text-align: center;
  color: #fff;
  padding: 13px 15px;
}
.header-message a {
  color: #fff;
  text-decoration: underline;
}
.header-message .hide-button {
  color: #fff;
  margin: -11px -12px -10px 12px;
  font-weight: normal;
  float: right;
}

header .breadcrumb > .active,
header .breadcrumb > .active a {
  color: #222;
}
header .breadcrumb > .placeholder {
  color: #999;
}
header .breadcrumb > li {
  padding: 11px 0;
  font-size: 15px;
  line-height: 1.3333333;
  font-weight: 500;
  position: relative;
}
header .breadcrumb > li > a,
header .breadcrumb > li.active > strong {
  display: inline-block;
  text-overflow: ellipsis;
  vertical-align: top;
  overflow: hidden;
  max-width: 190px;
}
header .container-fluid .breadcrumb > li > a,
header .container-fluid .breadcrumb > li.active > strong {
  max-width: 240px;
}
header .breadcrumb > li.active > a {
  overflow: visible;
  max-width: none;
}
header .breadcrumb > li:before {
  content: '';
}
header .breadcrumb > li:after {
  content: "\00a0/\00a0";
  padding: 0 8px;
  color: #d4d4d4;
}
header .breadcrumb > li:last-child:after {
  content: '';
}
header .input-group-addon.breadcrumb > li:last-child:after {
  content: "\00a0/\00a0";
}
header .header-breadcrumb .dropdown {
  position: static;
}
header .header-breadcrumb .dropdown-menu {
  left: auto;
  top: 48px;
  margin: 0 0 0 -15px;
  min-width: 0;
  font-size: 15px;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, .15);
}
header .header-breadcrumb .dropdown.open > .dropdown-menu {
  display: inline;
}
header .header-breadcrumb .dropdown.open > .dropdown-menu > li {
  display: block;
}
header .header-breadcrumb .dropdown.open > .dropdown-menu > li > a {
  padding: 10px 35px 10px 15px;
  margin: 0;
  color: #2e87ca;
}
header .header-breadcrumb .dropdown.open > .dropdown-menu > li > a:hover {
  background-color: #f0f6fa;
  color: #2e87ca;
}
header .header-breadcrumb .dropdown.open > .dropdown-menu > li.active > a:hover,
header .header-breadcrumb .dropdown.open > .dropdown-menu > li.active > a {
  background-color: #1e98d4;
  color: #fff;
  font-weight: 500;
  position: relative;
}
header .btn {
  margin-left: 10px;
  margin-right: -12px;
}
.buttons-wrap {
  padding: 15px 0;
}
.buttons-wrap .btn {
  margin-left: -15px;
}

.header-breadcrumb .breadcrumb {
  background: none;
  border: transparent;
  padding: 0;
  margin: 0;
  overflow: visible;
}
.header-breadcrumb-simple .breadcrumb {
  overflow: hidden;
}
.header-breadcrumb-simple .breadcrumb > .active {
  display: inline;
}
.header-breadcrumb .input-label {
  font-weight: normal;
}
.input-group .input-dropdown {
  display: table-cell;
  position: relative;
}
.input-dropdown .form-control {
  height: auto;
  border: transparent;
  background: transparent;
  color: #222;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 11px 16px 11px 1px;
  margin-left: -1px;
  border-radius: 0 !important;
  transition: color .2s ease;
}
.form-control::-webkit-input-placeholder {
  transition: color .2s ease;
  color: #999;
}
.form-control::-moz-placeholder {
  transition: color .2s ease;
  color: #999;
}
.form-control:-ms-input-placeholder {
  transition: color .2s ease;
  color: #999;
}
.form-control:focus::-webkit-input-placeholder {
  color: #ccc;
}
.form-control:focus::-moz-placeholder {
  color: #ccc;
}
.form-control:focus:-ms-input-placeholder {
  color: #ccc;
}
.has-section-status .input-dropdown .form-control {
  padding-right: 50px;
}

.bio-value {
  line-height: 1.5;
}
.sort-icon {
  font-size: 67%;
  color: #999;
}
.cell-header {
  display: none;
  margin-left: 10px;
}
.table-hover > tbody > tr:hover>td .cell-header,
.table-hover > tbody > tr:hover>th .cell-header {
  display: inline;
}


.progress-bar {
  width: 0;
  transition: width .4s linear, box-shadow .3s ease;
}
.progress-bar.no-transition {
  transition: none;
}
.progress-bar.no-shown {
  box-shadow: inset 0 0 0 #39ade7;
}

header .progress-bar {
  position: absolute;
  z-index: 1;
  bottom: 0;
  height: 3px;
  box-shadow: inset 0 -2px 0 #39ade7;
}

.btn-inactive {
  cursor: auto;
  pointer-events: none;
}

.nav-menu {
  padding: 10px 0 30px;
}
@media (min-width: 768px) {
  .nav-menu.nav-menu-can-fix {
    position: fixed;
    top: 68px;
    bottom: 0;
    overflow-y: scroll;
  }
  header.has-message + main .nav-menu.nav-menu-can-fix {
    top: 112px;
  }
  .nav-menu.nav-menu-can-fix::-webkit-scrollbar {
    display: none;
  }
}

.section-header {
  position: relative;
  overflow: hidden;
}

.header-labels {
  position: absolute;
  font-size: 13px;
  line-height: 16px;
  height: 0;
  bottom: 0;
  right: 0;
}
.header-labels .help-labels {
  position: relative;
  white-space: nowrap;
}
.header-labels .help-label {
  position: absolute;
  padding: 4px 10px;
  right: 0;
  color: #aaa;
}
.header-labels .help-label a {
  color: #555;
  cursor: pointer;
}

section h3 .header-count {
  margin-left: 10px;
  color: #999;
}

.popup-form {
  margin: 25px 0 0;
  overflow: visible !important;
}

.radio-row {
  display: block;
  margin: 5px -5px;
  padding: 5px;
  font-weight: normal;
  overflow: hidden;
  cursor: pointer;
}
.radio-row .radio {
  position: absolute;
  left: -5000px;
}
.radio-row .radio + .radio-label {
  position: relative;
  line-height: 18px;
  padding: 0;
}
.radio-row .radio + .radio-label:before {
  display: inline-block;
  content: '';
  width: 18px;
  height: 18px;
  border-radius: 9px;
  border: 2px solid #999;
  vertical-align: top;
  margin: 0 12px 0 0;
  padding: 0;
}
.radio-row .radio:checked + .radio-label:before {
  border-color: #319bd8;
}
.radio-row .radio:checked + .radio-label:after {
  display: inline-block;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: #319bd8;
  vertical-align: top;
  margin: 5px;
  padding: 0;
  position: absolute;
  left: 0;
}
.radio-row .radio.disabled + .radio-label,
.radio-row .radio[disabled] + .radio-label {
  opacity: 0.65;
}


.section-label {
  font-size: 15px;
  font-weight: normal;
  margin: 0 5px 0 12px;
  float: right;
}
.section-label-success {
  color: #449d44;
}
.section-label-danger {
  color: #c9302c;
}
.section-label-info {
  color: #31b0d5;
}
.section-btn .glyphicon,
.section-label .glyphicon {
  font-size: 17px;
  position: static;
  vertical-align: middle;
}
.section-btn .label {
  padding: 0 4px;
}
.section-label .label {
  padding: 0 2px;
  vertical-align: middle;
}

.list-group-item-heading .section-label {
  font-size: 13px;
}
.list-group-item-heading .section-label .glyphicon {
  font-size: 14px;
}

#dev_page_content_wrap {
  padding: 0 25px 10px;
  margin-right: 215px;
  max-width: none;
}
#dev_page_content,
#dev_page_content p {
  font-size: 15px;
  line-height: 1.6;
}
#dev_page_content_wrap h1,
#dev_page_content_wrap h2,
#dev_page_content_wrap h3,
#dev_page_content_wrap h4,
.page-content-wrap h3 {
  font-weight: 500;
  position: relative;
}
#dev_page_content_wrap h1 {
  font-size: 21px;
  margin: 27px 0 12px;
}
#dev_page_content_wrap h2,
#dev_page_content_wrap h3 {
  font-size: 19px;
  margin: 27px 0 12px;
}
#dev_page_content_wrap h4,
#dev_page_content_wrap h5 {
  font-size: 17px;
  margin: 27px 0 10px;
}
#dev_page_content_wrap pre,
#dev_page_content_wrap code {
  font-family: monospace, 'Courier New';
  font-size: 93%;
}
#dev_page_content_wrap pre {
  line-height: 18px;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
  padding: 6px 12px;
  border: none;
  background: #f4f8fb;
}
#dev_page_content_wrap code {
  color: inherit;
  background: #ecf3f8;
}
#dev_page_content_wrap pre code {
  background: transparent;
}
#dev_page_content_wrap blockquote {
  border-color: #179cde;
  padding: 5px 17px;
}
#dev_page_content_wrap b,
#dev_page_content_wrap strong {
  font-weight: 500;
}
#dev_page_content_wrap .dev_page_image {
  display: block;
  max-width: 100% !important;
  margin: 0 auto;
  padding: 10px 0px 5px;
}

#dev_page_content_wrap a.anchor,
.page-content-wrap a.anchor {
  position: absolute;
  height: 1px;
  top: -70px;
}
header.has-message + main #dev_page_content_wrap a.anchor,
header.has-message + main .page-content-wrap a.anchor {
  top: -114px;
}
#dev_page_content_wrap a.anchor-link,
.page-content-wrap a.anchor-link {
  text-decoration: none;
  line-height: 1;
  margin-left: -0.7em;

  cursor: default;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  border-top: 10px solid transparent;
  margin-top: -10px;
  outline: 0;
}

#dev_page_content_wrap a.anchor-link i.anchor-icon,
.page-content-wrap a.anchor-link i.anchor-icon {
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  font-size: 62%;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin-top: 2px;
  opacity: 0;

  cursor: pointer;
  padding: 0;
  position: relative;
  z-index: 10;

  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}
#dev_page_content_wrap a.anchor-link i.anchor-icon:before,
.page-content-wrap a.anchor-link i.anchor-icon:before {
  content: "\e144";
}
@media (min-width: 992px) {
  #dev_page_content_wrap a.anchor-link,
  .page-content-wrap a.anchor-link {
    margin-left: -1.1em;
  }
  #dev_page_content_wrap a.anchor-link i.anchor-icon,
  .page-content-wrap a.anchor-link i.anchor-icon {
    font-size: 85%;
  }
}

#dev_page_content_wrap h1 a.anchor-link i.anchor-icon {
  margin-top: 4px;
}

#dev_page_content_wrap h1:hover a.anchor-link i.anchor-icon,
#dev_page_content_wrap h2:hover a.anchor-link i.anchor-icon,
#dev_page_content_wrap h3:hover a.anchor-link i.anchor-icon,
#dev_page_content_wrap h4:hover a.anchor-link i.anchor-icon,
.page-content-wrap h3:hover a.anchor-link i.anchor-icon {
  opacity: 0.6;
}
#dev_page_content_wrap i.anchor-icon:hover,
.page-content-wrap i.anchor-icon:hover {
  opacity: 1 !important;
}

#dev_side_nav_cont .dev_side_nav_wrap {
  position: relative;
  display: none;
}
@media (min-width: 768px) {
  #dev_side_nav_cont .dev_side_nav_wrap {
    display: block;
  }
}
#dev_side_nav_cont .dev_side_nav {
  position: static;
  width: auto;
}
#dev_side_nav_cont .dev_side_nav > ul {
  width: auto;
  float: none;
  background: none;
  padding: 7px 0;
}
#dev_side_nav_cont .dev_side_nav > ul::-webkit-scrollbar {
  display: none;
}
#dev_side_nav_cont .dev_side_nav > ul.affix-top,
#dev_side_nav_cont .dev_side_nav > ul.affix,
#dev_side_nav_cont .dev_side_nav > ul.affix-bottom {
  position: static;
}
#dev_side_nav_cont .dev_side_nav li {
  float: none !important;
}
#dev_side_nav_cont .dev_side_nav li:before {
  display: none;
}
.dev_side_nav_wrap .dev_side_nav li a {
  border-left: 3px solid transparent;
  padding: 7px 12px 7px 10px;
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.dev_side_nav_wrap .dev_side_nav li li a {
  padding: 6px 15px 6px 22px;
  font-size: 12px;
  font-weight: 400;
}
.dev_side_nav_wrap .dev_side_nav li a:hover {
  background: #f0f6fa !important;
}
.dev_side_nav_wrap .dev_side_nav li.active > a {
  border-left: 3px solid #1e98d4;
}
.dev_side_nav_wrap .dev_side_nav li ul {
  display: none;
}
.dev_side_nav_wrap .dev_side_nav li.active ul {
  display: block;
}
.dev_side_nav {
  right: -225px;
}
.dev_side_nav > ul {
  padding: 0;
}
.dev_side_nav > ul.affix {
  top: 83px;
}
.dev_page_bread_crumbs {
  display: none;
}

main.intro,
main.docs {
  padding-bottom: 43px;
}

main.docs #dev_page_content_wrap h1#dev_page_title {
  font-size: 24px;
  margin: 12px 0 12px;
}

main.intro #dev_page_content_wrap h1#dev_page_title {
  padding: 12px 0 12px;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
}

.popup-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.6);
  z-index: 101;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.popup {
  max-width: 100%;
  word-wrap: break-word;
  margin: 15px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, .3);
}
.popup section {
  position: relative;
  padding-bottom: 60px;
}
.popup h4 {
  font-size: 18px;
  margin: 5px 0 15px;
}
.popup h4 ~ h4 {
  margin-top: 25px;
}
.popup-body {
  padding: 20px;
}
.login-popup-container .popup-body {
  padding: 15px 25px 25px;
}
@media (min-width: 560px) {
  .popup {
    margin: 50px;
  }
  .popup-body {
    padding: 30px 35px;
  }
  .login-popup-container .popup-body {
    padding: 50px 60px;
  }
}
@media (min-width: 768px) {
  .popup {
    max-width: 600px;
  }
}
.popup .popup-text {
  margin: 0;
  line-height: 24px;
  position: relative;
  z-index: 1;
}
.popup .popup-buttons {
  margin: -17px -15px -10px;
  position: absolute;
  right: 0;
  bottom: 0;
}



.tr-graphs {
  padding: 0 0 25px 15px;
}
.tr-graphs h3.tr-header {
  padding: 25px 0 15px;
  margin: 0;
}
.tr-graphs .tr-search-filters {
  position: relative;
  z-index: 12;
  margin: 10px 5px 0;
}
.tr-graphs .chart {
  width: auto;
}
.tr-graphs .rickshaw_legend {
  width: 170px;
  position: absolute;
  z-index: 10;
  right: -240px;
  left: auto;
  background: rgba(255, 255, 255, .75);
  padding: 7px 10px;
  margin: 5px;
  border-radius: 3px;
}
.tr-graphs .rickshaw_graph .detail {
  z-index: 11;
}
.tr-graphs .rickshaw_graph .detail .item {
  border: none;
}
.tr-graphs .chart_wrap:after {
  clear: none;
}
.tr-graphs .rickshaw_legend .line .action .icon-tick {
  background: transparent;
}
.chart_wrap {
  width: 655px;
}


.tr-round-tabs {
  float: right;
  margin-top: -1px;
}
.tr-round-tab {
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  padding: 5px 10px 3px;
  border-radius: 12px;
  color: #1a1a1a;
  background: #f2f2f2;
  cursor: pointer;
  transition: all .2s ease;
  -webkit-user-select: none;
  user-select: none;
}
.tr-round-tab:hover,
.tr-round-tab:focus {
  color: #1a1a1a;
  background: #e8e8e8;
  text-decoration: none;
}
.tr-round-tab + .tr-round-tab {
  margin-left: 5px;
}
.tr-round-tab-disabled {
  color: #a8a8a8;
  background: #f7f7f7;
}
.tr-round-tab-disabled:hover {
  color: #a8a8a8;
  background: #efefef;
}
.tr-round-tab-current,
.tr-round-tab-current:hover,
.tr-round-tab-current:focus {
  color: #fff;
  background-color: #0f9ae4;
  cursor: auto;
}
.tr-round-tab-disabled.tr-round-tab-current,
.tr-round-tab-disabled.tr-round-tab-current:hover {
  background-color: #4ebaf4;
}



