{
    "openapi": "3.2.0",
    "$self": "https://core.telegram.org/bots/api.json",
    "info": {
        "title": "Telegram Bot API",
        "version": "10.3",
        "description": "> The Bot API is an HTTP-based interface created for developers keen on building bots for Telegram.\nTo learn how to create and set up a bot, please consult our [**Introduction to Bots**](https://core.telegram.org/bots) and [**Bot FAQ**](https://core.telegram.org/bots/faq).\nThe methods, objects and webhook requests of the Bot API are also described by an [**OpenAPI schema**](https://core.telegram.org/bots/api.json).\nThis documentation and the schema are generated by a [**generator**](https://github.com/tdlib/telegram-bot-api/tree/master/generator) published along with the [**Bot API server source code**](https://github.com/tdlib/telegram-bot-api).",
        "termsOfService": "https://telegram.org/tos/bots"
    },
    "externalDocs": {
        "description": "Telegram Bot API",
        "url": "https://core.telegram.org/bots/api"
    },
    "servers": [
        {
            "url": "https://api.telegram.org/bot{token}",
            "name": "api",
            "description": "The Bot API server",
            "variables": {
                "token": {
                    "default": "",
                    "description": "The authentication token of the bot"
                }
            }
        }
    ],
    "security": [],
    "tags": [
        {
            "name": "Bot",
            "summary": "Bot settings",
            "description": "Get and change the bot itself: its commands, name, descriptions, profile photo, menu button and default administrator rights, the bots it manages, and its session."
        },
        {
            "name": "Business",
            "summary": "Business accounts",
            "description": "Manage the business accounts connected to the bot: their messages, stories, profile, gift settings and Telegram Stars."
        },
        {
            "name": "Chat members",
            "summary": "Chat members",
            "description": "Get, promote, restrict and ban the members of chats, and handle join requests."
        },
        {
            "name": "Editing",
            "summary": "Editing messages",
            "description": "Edit, stop and delete messages, ephemeral messages and their reactions, and approve or decline suggested posts."
        },
        {
            "name": "Forwarding",
            "summary": "Forwarding messages",
            "description": "Forward and copy messages."
        },
        {
            "name": "Games",
            "summary": "Games",
            "description": "Send games and manage their high scores."
        },
        {
            "name": "Gifts",
            "summary": "Gifts",
            "description": "Send, list, convert, upgrade and transfer gifts, and gift Telegram Premium subscriptions."
        },
        {
            "name": "Inline",
            "summary": "Inline mode and queries",
            "description": "Answer inline, callback, Web App, guest and join request queries, and prepare inline messages and keyboard buttons."
        },
        {
            "name": "Media",
            "summary": "Media and files",
            "description": "Send photos, videos, audio, documents and other media, and get files."
        },
        {
            "name": "Messages",
            "summary": "Sending messages",
            "description": "Send text, rich, location, contact, poll and other messages, drafts, chat actions and reactions."
        },
        {
            "name": "Passport",
            "summary": "Telegram Passport",
            "description": "Report errors in Telegram Passport data."
        },
        {
            "name": "Payments",
            "summary": "Payments",
            "description": "Send invoices, answer shipping and pre-checkout queries, and manage Telegram Stars."
        },
        {
            "name": "Stickers",
            "summary": "Stickers",
            "description": "Send stickers and manage sticker sets."
        },
        {
            "name": "Updates",
            "summary": "Getting updates",
            "description": "Receive updates by long polling or by a webhook."
        },
        {
            "name": "Users and chats",
            "summary": "Users and chats",
            "description": "Get and change users and chats: profile photos, verification, invite links, chat settings, pinned messages, forum topics and boosts."
        }
    ],
    "paths": {
        "/getMe": {
            "post": {
                "operationId": "getMe",
                "tags": [
                    "Bot"
                ],
                "description": "A simple method for testing your bot's authentication token. Returns basic information about the bot as [User](https://core.telegram.org/bots/api#user) on success.",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/getMe"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/getMyCommands": {
            "post": {
                "operationId": "getMyCommands",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to get the current list of the bot's commands for the given scope and user language. If commands aren't set, an empty list is returned. Returns an Array of [BotCommand](https://core.telegram.org/bots/api#botcommand) objects on success.",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetMyCommandsParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/getMyCommands"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/setMyCommands": {
            "post": {
                "operationId": "setMyCommands",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to change the list of the bot's commands. See [this manual](https://core.telegram.org/bots/features#commands) for more details about bot commands. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SetMyCommandsParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/setMyCommands"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/deleteMyCommands": {
            "post": {
                "operationId": "deleteMyCommands",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to delete the list of the bot's commands for the given scope and user language. After deletion, [higher level commands](https://core.telegram.org/bots/api#determining-list-of-commands) will be shown to affected users. Returns *True* on success.",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeleteMyCommandsParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/deleteMyCommands"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/getMyDefaultAdministratorRights": {
            "post": {
                "operationId": "getMyDefaultAdministratorRights",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to get the current default administrator rights of the bot. Returns [ChatAdministratorRights](https://core.telegram.org/bots/api#chatadministratorrights) on success.",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetMyDefaultAdministratorRightsParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/getMyDefaultAdministratorRights"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/setMyDefaultAdministratorRights": {
            "post": {
                "operationId": "setMyDefaultAdministratorRights",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to change the default administrator rights requested by the bot when it's added as an administrator to groups or channels. These rights will be suggested to users, but they are free to modify the list before adding the bot. Returns *True* on success.",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SetMyDefaultAdministratorRightsParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/setMyDefaultAdministratorRights"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/getMyName": {
            "post": {
                "operationId": "getMyName",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to get the current bot name for the given user language. Returns [BotName](https://core.telegram.org/bots/api#botname) on success.",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetMyNameParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/getMyName"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/setMyName": {
            "post": {
                "operationId": "setMyName",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to change the bot's name. Returns *True* on success.",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SetMyNameParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/setMyName"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/setMyProfilePhoto": {
            "post": {
                "operationId": "setMyProfilePhoto",
                "tags": [
                    "Bot"
                ],
                "description": "Changes the profile photo of the bot. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/SetMyProfilePhotoParams"
                                    }
                                ],
                                "unevaluatedProperties": {
                                    "$ref": "#/components/schemas/InputFile"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/setMyProfilePhoto"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/removeMyProfilePhoto": {
            "post": {
                "operationId": "removeMyProfilePhoto",
                "tags": [
                    "Bot"
                ],
                "description": "Removes the profile photo of the bot. Returns *True* on success.",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/removeMyProfilePhoto"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/getMyDescription": {
            "post": {
                "operationId": "getMyDescription",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to get the current bot description for the given user language. Returns [BotDescription](https://core.telegram.org/bots/api#botdescription) on success.",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetMyDescriptionParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/getMyDescription"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/setMyDescription": {
            "post": {
                "operationId": "setMyDescription",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to change the bot's description, which is shown in the chat with the bot if the chat is empty. Returns *True* on success.",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SetMyDescriptionParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/setMyDescription"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/getMyShortDescription": {
            "post": {
                "operationId": "getMyShortDescription",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to get the current bot short description for the given user language. Returns [BotShortDescription](https://core.telegram.org/bots/api#botshortdescription) on success.",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetMyShortDescriptionParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/getMyShortDescription"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/setMyShortDescription": {
            "post": {
                "operationId": "setMyShortDescription",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to change the bot's short description, which is shown on the bot's profile page and is sent together with the link when users share the bot. Returns *True* on success.",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SetMyShortDescriptionParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/setMyShortDescription"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/getChatMenuButton": {
            "post": {
                "operationId": "getChatMenuButton",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to get the current value of the bot's menu button in a private chat, or the default menu button. Returns [MenuButton](https://core.telegram.org/bots/api#menubutton) on success.",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetChatMenuButtonParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/getChatMenuButton"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/setChatMenuButton": {
            "post": {
                "operationId": "setChatMenuButton",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to change the bot's menu button in a private chat, or the default menu button. Returns *True* on success.",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SetChatMenuButtonParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/setChatMenuButton"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/getManagedBotToken": {
            "post": {
                "operationId": "getManagedBotToken",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to get the token of a managed bot. Returns the token as *String* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetManagedBotTokenParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/getManagedBotToken"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/getManagedBotAccessSettings": {
            "post": {
                "operationId": "getManagedBotAccessSettings",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to get the access settings of a managed bot. Returns [BotAccessSettings](https://core.telegram.org/bots/api#botaccesssettings) on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetManagedBotAccessSettingsParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/getManagedBotAccessSettings"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/setManagedBotAccessSettings": {
            "post": {
                "operationId": "setManagedBotAccessSettings",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to change the access settings of a managed bot. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SetManagedBotAccessSettingsParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/setManagedBotAccessSettings"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/replaceManagedBotToken": {
            "post": {
                "operationId": "replaceManagedBotToken",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to revoke the current token of a managed bot and generate a new one. Returns the new token as *String* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ReplaceManagedBotTokenParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/replaceManagedBotToken"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/postStory": {
            "post": {
                "operationId": "postStory",
                "tags": [
                    "Business"
                ],
                "description": "Posts a story on behalf of a managed business account. Requires the *can_manage_stories* business bot right. Returns [Story](https://core.telegram.org/bots/api#story) on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/PostStoryParams"
                                    }
                                ],
                                "unevaluatedProperties": {
                                    "$ref": "#/components/schemas/InputFile"
                                }
                            },
                            "encoding": {
                                "areas": {
                                    "contentType": "application/json"
                                },
                                "caption_entities": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/postStory"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/repostStory": {
            "post": {
                "operationId": "repostStory",
                "tags": [
                    "Business"
                ],
                "description": "Reposts a story on behalf of a business account from another business account. Both business accounts must be managed by the same bot, and the story on the source account must have been posted (or reposted) by the bot. Requires the *can_manage_stories* business bot right for both business accounts. Returns [Story](https://core.telegram.org/bots/api#story) on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RepostStoryParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/repostStory"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/editStory": {
            "post": {
                "operationId": "editStory",
                "tags": [
                    "Business"
                ],
                "description": "Edits a story previously posted by the bot on behalf of a managed business account. Requires the *can_manage_stories* business bot right. Returns [Story](https://core.telegram.org/bots/api#story) on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/EditStoryParams"
                                    }
                                ],
                                "unevaluatedProperties": {
                                    "$ref": "#/components/schemas/InputFile"
                                }
                            },
                            "encoding": {
                                "areas": {
                                    "contentType": "application/json"
                                },
                                "caption_entities": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/editStory"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/deleteStory": {
            "post": {
                "operationId": "deleteStory",
                "tags": [
                    "Business"
                ],
                "description": "Deletes a story previously posted by the bot on behalf of a managed business account. Requires the *can_manage_stories* business bot right. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeleteStoryParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/deleteStory"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/getBusinessConnection": {
            "post": {
                "operationId": "getBusinessConnection",
                "tags": [
                    "Business"
                ],
                "description": "Use this method to get information about the connection of the bot with a business account. Returns [BusinessConnection](https://core.telegram.org/bots/api#businessconnection) on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetBusinessConnectionParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/getBusinessConnection"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/readBusinessMessage": {
            "post": {
                "operationId": "readBusinessMessage",
                "tags": [
                    "Business"
                ],
                "description": "Marks incoming message as read on behalf of a business account. Requires the *can_read_messages* business bot right. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ReadBusinessMessageParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/readBusinessMessage"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/deleteBusinessMessages": {
            "post": {
                "operationId": "deleteBusinessMessages",
                "tags": [
                    "Business"
                ],
                "description": "Delete messages on behalf of a business account. Requires the *can_delete_sent_messages* business bot right to delete messages sent by the bot itself, or the *can_delete_all_messages* business bot right to delete any message. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeleteBusinessMessagesParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/deleteBusinessMessages"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/setBusinessAccountName": {
            "post": {
                "operationId": "setBusinessAccountName",
                "tags": [
                    "Business"
                ],
                "description": "Changes the first and last name of a managed business account. Requires the *can_change_name* business bot right. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SetBusinessAccountNameParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/setBusinessAccountName"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/setBusinessAccountUsername": {
            "post": {
                "operationId": "setBusinessAccountUsername",
                "tags": [
                    "Business"
                ],
                "description": "Changes the username of a managed business account. Requires the *can_change_username* business bot right. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SetBusinessAccountUsernameParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/setBusinessAccountUsername"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/setBusinessAccountBio": {
            "post": {
                "operationId": "setBusinessAccountBio",
                "tags": [
                    "Business"
                ],
                "description": "Changes the bio of a managed business account. Requires the *can_change_bio* business bot right. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SetBusinessAccountBioParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/setBusinessAccountBio"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/setBusinessAccountProfilePhoto": {
            "post": {
                "operationId": "setBusinessAccountProfilePhoto",
                "tags": [
                    "Business"
                ],
                "description": "Changes the profile photo of a managed business account. Requires the *can_edit_profile_photo* business bot right. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/SetBusinessAccountProfilePhotoParams"
                                    }
                                ],
                                "unevaluatedProperties": {
                                    "$ref": "#/components/schemas/InputFile"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/setBusinessAccountProfilePhoto"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/removeBusinessAccountProfilePhoto": {
            "post": {
                "operationId": "removeBusinessAccountProfilePhoto",
                "tags": [
                    "Business"
                ],
                "description": "Removes the current profile photo of a managed business account. Requires the *can_edit_profile_photo* business bot right. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RemoveBusinessAccountProfilePhotoParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/removeBusinessAccountProfilePhoto"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/setBusinessAccountGiftSettings": {
            "post": {
                "operationId": "setBusinessAccountGiftSettings",
                "tags": [
                    "Business"
                ],
                "description": "Changes the privacy settings pertaining to incoming gifts in a managed business account. Requires the *can_change_gift_settings* business bot right. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SetBusinessAccountGiftSettingsParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/setBusinessAccountGiftSettings"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/getBusinessAccountStarBalance": {
            "post": {
                "operationId": "getBusinessAccountStarBalance",
                "tags": [
                    "Business"
                ],
                "description": "Returns the amount of Telegram Stars owned by a managed business account. Requires the *can_view_gifts_and_stars* business bot right. Returns [StarAmount](https://core.telegram.org/bots/api#staramount) on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetBusinessAccountStarBalanceParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/getBusinessAccountStarBalance"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/transferBusinessAccountStars": {
            "post": {
                "operationId": "transferBusinessAccountStars",
                "tags": [
                    "Business"
                ],
                "description": "Transfers Telegram Stars from the business account balance to the bot's balance. Requires the *can_transfer_stars* business bot right. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TransferBusinessAccountStarsParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/transferBusinessAccountStars"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/getChatMember": {
            "post": {
                "operationId": "getChatMember",
                "tags": [
                    "Chat members"
                ],
                "description": "Use this method to get information about a member of a chat. The method is only guaranteed to work for other users if the bot is an administrator in the chat. Returns [ChatMember](https://core.telegram.org/bots/api#chatmember) on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetChatMemberParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/getChatMember"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestInUpgradedGroup"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/getChatAdministrators": {
            "post": {
                "operationId": "getChatAdministrators",
                "tags": [
                    "Chat members"
                ],
                "description": "Use this method to get a list of administrators in a chat. Returns an Array of [ChatMember](https://core.telegram.org/bots/api#chatmember) objects on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetChatAdministratorsParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/getChatAdministrators"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestInUpgradedGroup"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/getChatMemberCount": {
            "post": {
                "operationId": "getChatMemberCount",
                "tags": [
                    "Chat members"
                ],
                "description": "Use this method to get the number of members in a chat. Returns *Integer* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetChatMemberCountParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/getChatMemberCount"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestInUpgradedGroup"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/leaveChat": {
            "post": {
                "operationId": "leaveChat",
                "tags": [
                    "Chat members"
                ],
                "description": "Use this method for your bot to leave a group, supergroup or channel. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LeaveChatParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/leaveChat"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/promoteChatMember": {
            "post": {
                "operationId": "promoteChatMember",
                "tags": [
                    "Chat members"
                ],
                "description": "Use this method to promote or demote a user in a supergroup or a channel. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. Pass *False* for all boolean parameters to demote a user. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PromoteChatMemberParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/promoteChatMember"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestInUpgradedGroup"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/setChatAdministratorCustomTitle": {
            "post": {
                "operationId": "setChatAdministratorCustomTitle",
                "tags": [
                    "Chat members"
                ],
                "description": "Use this method to set a custom title for an administrator in a supergroup promoted by the bot. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SetChatAdministratorCustomTitleParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/setChatAdministratorCustomTitle"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestInUpgradedGroup"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/setChatMemberTag": {
            "post": {
                "operationId": "setChatMemberTag",
                "tags": [
                    "Chat members"
                ],
                "description": "Use this method to set a tag for a regular member in a group or a supergroup. The bot must be an administrator in the chat for this to work and must have the *can_manage_tags* administrator right. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SetChatMemberTagParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/setChatMemberTag"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestInUpgradedGroup"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/banChatMember": {
            "post": {
                "operationId": "banChatMember",
                "tags": [
                    "Chat members"
                ],
                "description": "Use this method to ban a user in a group, a supergroup or a channel. In the case of supergroups and channels, the user will not be able to return to the chat on their own using invite links, etc., unless [unbanned](https://core.telegram.org/bots/api#unbanchatmember) first. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BanChatMemberParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/banChatMember"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestInUpgradedGroup"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/restrictChatMember": {
            "post": {
                "operationId": "restrictChatMember",
                "tags": [
                    "Chat members"
                ],
                "description": "Use this method to restrict a user in a supergroup. The bot must be an administrator in the supergroup for this to work and must have the appropriate administrator rights. Pass *True* for all permissions to lift restrictions from a user. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RestrictChatMemberParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/restrictChatMember"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestInUpgradedGroup"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/unbanChatMember": {
            "post": {
                "operationId": "unbanChatMember",
                "tags": [
                    "Chat members"
                ],
                "description": "Use this method to unban a previously banned user in a supergroup or channel. The user will **not** return to the group or channel automatically, but will be able to join via link, etc. The bot must be an administrator for this to work. By default, this method guarantees that after the call the user is not a member of the chat, but will be able to join it. So if the user is a member of the chat they will also be **removed** from the chat. If you don't want this, use the parameter *only_if_banned*. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UnbanChatMemberParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/unbanChatMember"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestInUpgradedGroup"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/banChatSenderChat": {
            "post": {
                "operationId": "banChatSenderChat",
                "tags": [
                    "Chat members"
                ],
                "description": "Use this method to ban a channel chat in a supergroup or a channel. Until the chat is [unbanned](https://core.telegram.org/bots/api#unbanchatsenderchat), the owner of the banned chat won't be able to send messages on behalf of **any of their channels**. The bot must be an administrator in the supergroup or channel for this to work and must have the appropriate administrator rights. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BanChatSenderChatParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/banChatSenderChat"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestInUpgradedGroup"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/unbanChatSenderChat": {
            "post": {
                "operationId": "unbanChatSenderChat",
                "tags": [
                    "Chat members"
                ],
                "description": "Use this method to unban a previously banned channel chat in a supergroup or channel. The bot must be an administrator for this to work and must have the appropriate administrator rights. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UnbanChatSenderChatParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/unbanChatSenderChat"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestInUpgradedGroup"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/approveChatJoinRequest": {
            "post": {
                "operationId": "approveChatJoinRequest",
                "tags": [
                    "Chat members"
                ],
                "description": "Use this method to approve a chat join request. The bot must be an administrator in the chat for this to work and must have the *can_invite_users* administrator right. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApproveChatJoinRequestParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/approveChatJoinRequest"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestInUpgradedGroup"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/declineChatJoinRequest": {
            "post": {
                "operationId": "declineChatJoinRequest",
                "tags": [
                    "Chat members"
                ],
                "description": "Use this method to decline a chat join request. The bot must be an administrator in the chat for this to work and must have the *can_invite_users* administrator right. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeclineChatJoinRequestParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/declineChatJoinRequest"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestInUpgradedGroup"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/stopPoll": {
            "post": {
                "operationId": "stopPoll",
                "tags": [
                    "Editing"
                ],
                "description": "Use this method to stop a poll which was sent by the bot. Returns [Poll](https://core.telegram.org/bots/api#poll) on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StopPollParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/stopPoll"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/editMessageText": {
            "post": {
                "operationId": "editMessageText",
                "tags": [
                    "Editing"
                ],
                "description": "Use this method to edit text, rich and [game](https://core.telegram.org/bots/api#games) messages. *True* is returned for inline messages. Note that business messages that were not sent by the bot and do not contain an inline keyboard can only be edited within **48 hours** from the time they were sent. Returns [Message](https://core.telegram.org/bots/api#message) or *True* on success.",
                "requestBody": {
                    "required": false,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/EditMessageTextParams"
                                    }
                                ],
                                "unevaluatedProperties": {
                                    "$ref": "#/components/schemas/InputFile"
                                }
                            },
                            "encoding": {
                                "entities": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/editMessageText"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/editMessageLiveLocation": {
            "post": {
                "operationId": "editMessageLiveLocation",
                "tags": [
                    "Editing"
                ],
                "description": "Use this method to edit live location messages. A location can be edited until its *live_period* expires or editing is explicitly disabled by a call to [stopMessageLiveLocation](https://core.telegram.org/bots/api#stopmessagelivelocation). *True* is returned for inline messages. Returns [Message](https://core.telegram.org/bots/api#message) or *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EditMessageLiveLocationParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/editMessageLiveLocation"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/stopMessageLiveLocation": {
            "post": {
                "operationId": "stopMessageLiveLocation",
                "tags": [
                    "Editing"
                ],
                "description": "Use this method to stop updating a live location message before *live_period* expires. *True* is returned for inline messages. Returns [Message](https://core.telegram.org/bots/api#message) or *True* on success.",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StopMessageLiveLocationParams"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/stopMessageLiveLocation"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "421": {
                        "$ref": "#/components/responses/MisdirectedRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/editMessageMedia": {
            "post": {
                "operationId": "editMessageMedia",
                "tags": [
                    "Editing"
                ],
                "description": "Use this method to edit animation, audio, document, live photo, photo, or video messages, or to replace a text or a rich message with a media. If a message is part of a message album, then it can be edited only to an audio for audio albums, only to a document for document albums and to a photo, a live photo, or a video otherwise. When an inline message is edited, a new file can't be uploaded; use a previously uploaded file via its file_id or specify a URL. *True* is returned for inline messages. Note that business messages that were not sent by the bot and do not contain an inline keyboard can only be edited within **48 hours** from the time they were sent. Returns [Message](https://core.telegram.org/bots/api#message) or *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "allOf": [
                                    {
[...]
