{
    "openapi": "3.1.0",
    "info": {
        "title": "Telegram Bot API",
        "version": "10.3",
        "description": "> The Bot API is an HTTP-based interface created for developers keen on building bots for Telegram.\nTo learn how to create and set up a bot, please consult our [**Introduction to Bots**](/bots) and [**Bot FAQ**](/bots/faq)."
    },
    "servers": [
        {
            "url": "https://api.telegram.org/bot{token}",
            "variables": {
                "token": {
                    "default": "",
                    "description": "The authentication token of the bot"
                }
            }
        }
    ],
    "security": [],
    "tags": [
        {
            "name": "Bot"
        },
        {
            "name": "Business"
        },
        {
            "name": "Chat members"
        },
        {
            "name": "Editing"
        },
        {
            "name": "Forwarding"
        },
        {
            "name": "Games"
        },
        {
            "name": "Gifts"
        },
        {
            "name": "Inline"
        },
        {
            "name": "Media"
        },
        {
            "name": "Messages"
        },
        {
            "name": "Passport"
        },
        {
            "name": "Payments"
        },
        {
            "name": "Stickers"
        },
        {
            "name": "Updates"
        },
        {
            "name": "Users and chats"
        }
    ],
    "paths": {
        "/getMe": {
            "post": {
                "operationId": "getMe",
                "summary": "A simple method for testing your bot's authentication token.",
                "tags": [
                    "Bot"
                ],
                "description": "A simple method for testing your bot's authentication token. Returns basic information about the bot as [User](#user) on success.",
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/User"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/Error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/getMyCommands": {
            "post": {
                "operationId": "getMyCommands",
                "summary": "Use this method to get the current list of the bot's commands for the given scope and user language.",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to get the current list of the bot's commands for the given scope and user language. If commands aren't set, an empty list is returned. Returns an Array of [BotCommand](#botcommand) objects on success.",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "scope": {
                                        "description": "A JSON-serialized object, describing scope of users. Defaults to [BotCommandScopeDefault](#botcommandscopedefault).",
                                        "$ref": "#/components/schemas/BotCommandScope"
                                    },
                                    "language_code": {
                                        "description": "A two-letter ISO 639-1 language code or an empty string",
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/BotCommandOutput"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/Error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/setMyCommands": {
            "post": {
                "operationId": "setMyCommands",
                "summary": "Use this method to change the list of the bot's commands.",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to change the list of the bot's commands. See [this manual](/bots/features#commands) for more details about bot commands. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "commands"
                                ],
                                "properties": {
                                    "scope": {
                                        "description": "A JSON-serialized object, describing scope of users for which the commands are relevant. Defaults to [BotCommandScopeDefault](#botcommandscopedefault).",
                                        "$ref": "#/components/schemas/BotCommandScope"
                                    },
                                    "language_code": {
                                        "description": "A two-letter ISO 639-1 language code. If empty, commands will be applied to all users from the given scope, for whose language there are no dedicated commands.",
                                        "type": "string"
                                    },
                                    "commands": {
                                        "description": "A JSON-serialized list of bot commands to be set as the list of the bot's commands. Must have at most 100 elements.",
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/BotCommandInput"
                                        },
                                        "maxItems": 100
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "boolean",
                                            "const": true
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/Error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/deleteMyCommands": {
            "post": {
                "operationId": "deleteMyCommands",
                "summary": "Use this method to delete the list of the bot's commands for the given scope and user language.",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to delete the list of the bot's commands for the given scope and user language. After deletion, [higher level commands](#determining-list-of-commands) will be shown to affected users. Returns *True* on success.",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "scope": {
                                        "description": "A JSON-serialized object, describing scope of users for which the commands are relevant. Defaults to [BotCommandScopeDefault](#botcommandscopedefault).",
                                        "$ref": "#/components/schemas/BotCommandScope"
                                    },
                                    "language_code": {
                                        "description": "A two-letter ISO 639-1 language code. If empty, commands will be applied to all users from the given scope, for whose language there are no dedicated commands.",
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "boolean",
                                            "const": true
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/Error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/getMyDefaultAdministratorRights": {
            "post": {
                "operationId": "getMyDefaultAdministratorRights",
                "summary": "Use this method to get the current default administrator rights of the bot.",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to get the current default administrator rights of the bot. Returns [ChatAdministratorRights](#chatadministratorrights) on success.",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "for_channels": {
                                        "description": "Pass *True* to get default administrator rights of the bot in channels. Otherwise, default administrator rights of the bot for groups and supergroups will be returned.",
                                        "type": "boolean"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/ChatAdministratorRightsOutput"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/Error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/setMyDefaultAdministratorRights": {
            "post": {
                "operationId": "setMyDefaultAdministratorRights",
                "summary": "Use this method to change the default administrator rights requested by the bot when it's added as an administrator to groups or channels.",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to change the default administrator rights requested by the bot when it's added as an administrator to groups or channels. These rights will be suggested to users, but they are free to modify the list before adding the bot. Returns *True* on success.",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "for_channels": {
                                        "description": "Pass *True* to change the default administrator rights of the bot in channels. Otherwise, the default administrator rights of the bot for groups and supergroups will be changed.",
                                        "type": "boolean"
                                    },
                                    "rights": {
                                        "description": "A JSON-serialized object describing new default administrator rights. If not specified, the default administrator rights will be cleared.",
                                        "$ref": "#/components/schemas/ChatAdministratorRightsInput"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "boolean",
                                            "const": true
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/Error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/getMyName": {
            "post": {
                "operationId": "getMyName",
                "summary": "Use this method to get the current bot name for the given user language.",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to get the current bot name for the given user language. Returns [BotName](#botname) on success.",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "language_code": {
                                        "description": "A two-letter ISO 639-1 language code or an empty string",
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/BotName"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/Error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/setMyName": {
            "post": {
                "operationId": "setMyName",
                "summary": "Use this method to change the bot's name.",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to change the bot's name. Returns *True* on success.",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "language_code": {
                                        "description": "A two-letter ISO 639-1 language code. If empty, the name will be shown to all users for whose language there is no dedicated name.",
                                        "type": "string"
                                    },
                                    "name": {
                                        "description": "New bot name, 0-64 characters. Pass an empty string to remove the dedicated name for the given language.",
                                        "type": "string",
                                        "maxLength": 64
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "boolean",
                                            "const": true
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/Error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/setMyProfilePhoto": {
            "post": {
                "operationId": "setMyProfilePhoto",
                "summary": "Changes the profile photo of the bot.",
                "tags": [
                    "Bot"
                ],
                "description": "Changes the profile photo of the bot. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "photo"
                                ],
                                "properties": {
                                    "photo": {
                                        "description": "The new profile photo to set",
                                        "$ref": "#/components/schemas/InputProfilePhoto"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "boolean",
                                            "const": true
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/Error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/removeMyProfilePhoto": {
            "post": {
                "operationId": "removeMyProfilePhoto",
                "summary": "Removes the profile photo of the bot.",
                "tags": [
                    "Bot"
                ],
                "description": "Removes the profile photo of the bot. Returns *True* on success.",
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "boolean",
                                            "const": true
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/Error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/getMyDescription": {
            "post": {
                "operationId": "getMyDescription",
                "summary": "Use this method to get the current bot description for the given user language.",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to get the current bot description for the given user language. Returns [BotDescription](#botdescription) on success.",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "language_code": {
                                        "description": "A two-letter ISO 639-1 language code or an empty string",
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/BotDescription"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/Error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/setMyDescription": {
            "post": {
                "operationId": "setMyDescription",
                "summary": "Use this method to change the bot's description, which is shown in the chat with the bot if the chat is empty.",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to change the bot's description, which is shown in the chat with the bot if the chat is empty. Returns *True* on success.",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "language_code": {
                                        "description": "A two-letter ISO 639-1 language code. If empty, the description will be applied to all users for whose language there is no dedicated description.",
                                        "type": "string"
                                    },
                                    "description": {
                                        "description": "New bot description, 0-512 characters. Pass an empty string to remove the dedicated description for the given language.",
                                        "type": "string",
                                        "maxLength": 512
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "boolean",
                                            "const": true
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/Error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/getMyShortDescription": {
            "post": {
                "operationId": "getMyShortDescription",
                "summary": "Use this method to get the current bot short description for the given user language.",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to get the current bot short description for the given user language. Returns [BotShortDescription](#botshortdescription) on success.",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "language_code": {
                                        "description": "A two-letter ISO 639-1 language code or an empty string",
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/BotShortDescription"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/Error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/setMyShortDescription": {
            "post": {
                "operationId": "setMyShortDescription",
                "summary": "Use this method to change the bot's short description, which is shown on the bot's profile page and is sent together with the link when users share the bot.",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to change the bot's short description, which is shown on the bot's profile page and is sent together with the link when users share the bot. Returns *True* on success.",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "language_code": {
                                        "description": "A two-letter ISO 639-1 language code. If empty, the short description will be applied to all users for whose language there is no dedicated short description.",
                                        "type": "string"
                                    },
                                    "short_description": {
                                        "description": "New short description for the bot, 0-120 characters. Pass an empty string to remove the dedicated short description for the given language.",
                                        "type": "string",
                                        "maxLength": 120
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "boolean",
                                            "const": true
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/Error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/getChatMenuButton": {
            "post": {
                "operationId": "getChatMenuButton",
                "summary": "Use this method to get the current value of the bot's menu button in a private chat, or the default menu button.",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to get the current value of the bot's menu button in a private chat, or the default menu button. Returns [MenuButton](#menubutton) on success.",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "chat_id": {
                                        "description": "Unique identifier for the target private chat. If not specified, the bot's default menu button will be returned.",
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/MenuButton"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/Error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/setChatMenuButton": {
            "post": {
                "operationId": "setChatMenuButton",
                "summary": "Use this method to change the bot's menu button in a private chat, or the default menu button.",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to change the bot's menu button in a private chat, or the default menu button. Returns *True* on success.",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "menu_button": {
                                        "description": "A JSON-serialized object for the bot's new menu button. Defaults to [MenuButtonDefault](#menubuttondefault).",
                                        "$ref": "#/components/schemas/MenuButton"
                                    },
                                    "chat_id": {
                                        "description": "Unique identifier for the target private chat. If not specified, the bot's default menu button will be changed.",
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "boolean",
                                            "const": true
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/Error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/getManagedBotToken": {
            "post": {
                "operationId": "getManagedBotToken",
                "summary": "Use this method to get the token of a managed bot.",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to get the token of a managed bot. Returns the token as *String* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "user_id"
                                ],
                                "properties": {
                                    "user_id": {
                                        "description": "User identifier of the managed bot whose token will be returned",
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/Error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/getManagedBotAccessSettings": {
            "post": {
                "operationId": "getManagedBotAccessSettings",
                "summary": "Use this method to get the access settings of a managed bot.",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to get the access settings of a managed bot. Returns [BotAccessSettings](#botaccesssettings) on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "user_id"
                                ],
                                "properties": {
                                    "user_id": {
                                        "description": "User identifier of the managed bot whose access settings will be returned",
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/BotAccessSettings"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/Error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/setManagedBotAccessSettings": {
            "post": {
                "operationId": "setManagedBotAccessSettings",
                "summary": "Use this method to change the access settings of a managed bot.",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to change the access settings of a managed bot. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "user_id",
                                    "is_access_restricted"
                                ],
                                "properties": {
                                    "user_id": {
                                        "description": "User identifier of the managed bot whose access settings will be changed",
                                        "type": "integer"
                                    },
                                    "is_access_restricted": {
                                        "description": "Pass *True* if only selected users can access the bot. The bot's owner can always access it.",
                                        "type": "boolean"
                                    },
                                    "added_user_ids": {
                                        "description": "A JSON-serialized list of identifiers of users who will have access to the bot in addition to its owner. Ignored if *is_access_restricted* is *False*. Must have at most 10 elements.",
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "maxItems": 10
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "boolean",
                                            "const": true
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/Error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/replaceManagedBotToken": {
            "post": {
                "operationId": "replaceManagedBotToken",
                "summary": "Use this method to revoke the current token of a managed bot and generate a new one.",
                "tags": [
                    "Bot"
                ],
                "description": "Use this method to revoke the current token of a managed bot and generate a new one. Returns the new token as *String* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "user_id"
                                ],
                                "properties": {
                                    "user_id": {
                                        "description": "User identifier of the managed bot whose token will be replaced",
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/Error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/postStory": {
            "post": {
                "operationId": "postStory",
                "summary": "Posts a story on behalf of a managed business account.",
                "tags": [
                    "Business"
                ],
                "description": "Posts a story on behalf of a managed business account. Requires the *can_manage_stories* business bot right. Returns [Story](#story) on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "business_connection_id",
                                    "content",
                                    "active_period"
                                ],
                                "properties": {
                                    "business_connection_id": {
                                        "description": "Unique identifier of the business connection",
                                        "type": "string"
                                    },
                                    "content": {
                                        "description": "Content of the story",
                                        "$ref": "#/components/schemas/InputStoryContent"
                                    },
                                    "areas": {
                                        "description": "A JSON-serialized list of clickable areas to be shown on the story",
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/StoryArea"
                                        }
                                    },
                                    "caption": {
                                        "description": "Caption of the story, 0-2048 characters after entities parsing",
                                        "type": "string",
                                        "maxLength": 2048
                                    },
                                    "parse_mode": {
                                        "description": "Mode for parsing entities in the caption. See [formatting options](#formatting-options) for more details.",
                                        "type": "string"
                                    },
                                    "caption_entities": {
                                        "description": "A JSON-serialized list of special entities that appear in the caption, which can be specified instead of *parse_mode*",
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/MessageEntityInput"
                                        }
                                    },
                                    "active_period": {
                                        "description": "Period after which the story is moved to the archive, in seconds, must be one of 21600, 43200, 86400, or 172800: 6 hours, 12 hours, 1 day, or 2 days",
                                        "type": "integer",
                                        "enum": [
                                            21600,
                                            43200,
                                            86400,
                                            172800
                                        ]
                                    },
                                    "post_to_chat_page": {
                                        "description": "Pass *True* to keep the story accessible after it expires",
                                        "type": "boolean"
                                    },
                                    "protect_content": {
                                        "description": "Pass *True* if the content of the story must be protected from forwarding and screenshotting",
                                        "type": "boolean"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/Story"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/Error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/repostStory": {
            "post": {
                "operationId": "repostStory",
                "summary": "Reposts a story on behalf of a business account from another business account.",
                "tags": [
                    "Business"
                ],
                "description": "Reposts a story on behalf of a business account from another business account. Both business accounts must be managed by the same bot, and the story on the source account must have been posted (or reposted) by the bot. Requires the *can_manage_stories* business bot right for both business accounts. Returns [Story](#story) on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "business_connection_id",
                                    "from_chat_id",
                                    "story_id",
                                    "active_period"
                                ],
                                "properties": {
                                    "business_connection_id": {
                                        "description": "Unique identifier of the business connection",
                                        "type": "string"
                                    },
                                    "from_chat_id": {
                                        "description": "Unique identifier of the chat which posted the story that should be reposted",
                                        "oneOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ]
                                    },
                                    "story_id": {
                                        "description": "Unique identifier of the story that should be reposted",
                                        "type": "integer"
                                    },
                                    "active_period": {
                                        "description": "Period after which the story is moved to the archive, in seconds, must be one of 21600, 43200, 86400, or 172800: 6 hours, 12 hours, 1 day, or 2 days",
                                        "type": "integer",
                                        "enum": [
                                            21600,
                                            43200,
                                            86400,
                                            172800
                                        ]
                                    },
                                    "post_to_chat_page": {
                                        "description": "Pass *True* to keep the story accessible after it expires",
                                        "type": "boolean"
                                    },
                                    "protect_content": {
                                        "description": "Pass *True* if the content of the story must be protected from forwarding and screenshotting",
                                        "type": "boolean"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/Story"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/Error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/editStory": {
            "post": {
                "operationId": "editStory",
                "summary": "Edits a story previously posted by the bot on behalf of a managed business account.",
                "tags": [
                    "Business"
                ],
                "description": "Edits a story previously posted by the bot on behalf of a managed business account. Requires the *can_manage_stories* business bot right. Returns [Story](#story) on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "business_connection_id",
                                    "story_id",
                                    "content"
                                ],
                                "properties": {
                                    "business_connection_id": {
                                        "description": "Unique identifier of the business connection",
                                        "type": "string"
                                    },
                                    "story_id": {
                                        "description": "Unique identifier of the story to edit",
                                        "type": "integer"
                                    },
                                    "content": {
                                        "description": "Content of the story",
                                        "$ref": "#/components/schemas/InputStoryContent"
                                    },
                                    "areas": {
                                        "description": "A JSON-serialized list of clickable areas to be shown on the story",
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/StoryArea"
                                        }
                                    },
                                    "caption": {
                                        "description": "Caption of the story, 0-2048 characters after entities parsing",
                                        "type": "string",
                                        "maxLength": 2048
                                    },
                                    "parse_mode": {
                                        "description": "Mode for parsing entities in the caption. See [formatting options](#formatting-options) for more details.",
                                        "type": "string"
                                    },
                                    "caption_entities": {
                                        "description": "A JSON-serialized list of special entities that appear in the caption, which can be specified instead of *parse_mode*",
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/MessageEntityInput"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/Story"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/Error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/deleteStory": {
            "post": {
                "operationId": "deleteStory",
                "summary": "Deletes a story previously posted by the bot on behalf of a managed business account.",
                "tags": [
                    "Business"
                ],
                "description": "Deletes a story previously posted by the bot on behalf of a managed business account. Requires the *can_manage_stories* business bot right. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "business_connection_id",
                                    "story_id"
                                ],
                                "properties": {
                                    "business_connection_id": {
                                        "description": "Unique identifier of the business connection",
                                        "type": "string"
                                    },
                                    "story_id": {
                                        "description": "Unique identifier of the story to delete",
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "boolean",
                                            "const": true
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/Error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/getBusinessConnection": {
            "post": {
                "operationId": "getBusinessConnection",
                "summary": "Use this method to get information about the connection of the bot with a business account.",
                "tags": [
                    "Business"
                ],
                "description": "Use this method to get information about the connection of the bot with a business account. Returns [BusinessConnection](#businessconnection) on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "business_connection_id"
                                ],
                                "properties": {
                                    "business_connection_id": {
                                        "description": "Unique identifier of the business connection",
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/BusinessConnection"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/Error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/readBusinessMessage": {
            "post": {
                "operationId": "readBusinessMessage",
                "summary": "Marks incoming message as read on behalf of a business account.",
                "tags": [
                    "Business"
                ],
                "description": "Marks incoming message as read on behalf of a business account. Requires the *can_read_messages* business bot right. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "business_connection_id",
                                    "chat_id",
                                    "message_id"
                                ],
                                "properties": {
                                    "business_connection_id": {
                                        "description": "Unique identifier of the business connection on behalf of which to read the message",
                                        "type": "string"
                                    },
                                    "chat_id": {
                                        "description": "Unique identifier of the chat in which the message was received. The chat must have been active in the last 24 hours.",
                                        "type": "integer"
                                    },
                                    "message_id": {
                                        "description": "Unique identifier of the message to mark as read",
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "boolean",
                                            "const": true
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/Error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/deleteBusinessMessages": {
            "post": {
                "operationId": "deleteBusinessMessages",
                "summary": "Delete messages on behalf of a business account.",
                "tags": [
                    "Business"
                ],
                "description": "Delete messages on behalf of a business account. Requires the *can_delete_sent_messages* business bot right to delete messages sent by the bot itself, or the *can_delete_all_messages* business bot right to delete any message. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "business_connection_id",
                                    "message_ids"
                                ],
                                "properties": {
                                    "business_connection_id": {
                                        "description": "Unique identifier of the business connection on behalf of which to delete the messages",
                                        "type": "string"
                                    },
                                    "message_ids": {
                                        "description": "A JSON-serialized list of identifiers of messages to delete. All messages must be from the same chat. See [deleteMessage](#deletemessage) for limitations on which messages can be deleted. Must have 1-100 elements.",
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "minItems": 1,
                                        "maxItems": 100
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "boolean",
                                            "const": true
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/Error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/setBusinessAccountName": {
            "post": {
                "operationId": "setBusinessAccountName",
                "summary": "Changes the first and last name of a managed business account.",
                "tags": [
                    "Business"
                ],
                "description": "Changes the first and last name of a managed business account. Requires the *can_change_name* business bot right. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "business_connection_id",
                                    "first_name"
                                ],
                                "properties": {
                                    "business_connection_id": {
                                        "description": "Unique identifier of the business connection",
                                        "type": "string"
                                    },
                                    "first_name": {
                                        "description": "The new value of the first name for the business account, 1-64 characters",
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 64
                                    },
                                    "last_name": {
                                        "description": "The new value of the last name for the business account, 0-64 characters",
                                        "type": "string",
                                        "maxLength": 64
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "boolean",
                                            "const": true
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/Error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/setBusinessAccountUsername": {
            "post": {
                "operationId": "setBusinessAccountUsername",
                "summary": "Changes the username of a managed business account.",
                "tags": [
                    "Business"
                ],
                "description": "Changes the username of a managed business account. Requires the *can_change_username* business bot right. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "business_connection_id"
                                ],
                                "properties": {
                                    "business_connection_id": {
                                        "description": "Unique identifier of the business connection",
                                        "type": "string"
                                    },
                                    "username": {
                                        "description": "The new value of the username for the business account, 0-32 characters",
                                        "type": "string",
                                        "maxLength": 32
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "boolean",
                                            "const": true
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/Error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/setBusinessAccountBio": {
            "post": {
                "operationId": "setBusinessAccountBio",
                "summary": "Changes the bio of a managed business account.",
                "tags": [
                    "Business"
                ],
                "description": "Changes the bio of a managed business account. Requires the *can_change_bio* business bot right. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "business_connection_id"
                                ],
                                "properties": {
                                    "business_connection_id": {
                                        "description": "Unique identifier of the business connection",
                                        "type": "string"
                                    },
                                    "bio": {
                                        "description": "The new value of the bio for the business account, 0-140 characters",
                                        "type": "string",
                                        "maxLength": 140
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "boolean",
                                            "const": true
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/Error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/setBusinessAccountProfilePhoto": {
            "post": {
                "operationId": "setBusinessAccountProfilePhoto",
                "summary": "Changes the profile photo of a managed business account.",
                "tags": [
                    "Business"
                ],
                "description": "Changes the profile photo of a managed business account. Requires the *can_edit_profile_photo* business bot right. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "business_connection_id",
                                    "photo"
                                ],
                                "properties": {
                                    "business_connection_id": {
                                        "description": "Unique identifier of the business connection",
                                        "type": "string"
                                    },
                                    "photo": {
                                        "description": "The new profile photo to set",
                                        "$ref": "#/components/schemas/InputProfilePhoto"
                                    },
                                    "is_public": {
                                        "description": "Pass *True* to set the public photo, which will be visible even if the main photo is hidden by the business account's privacy settings. An account can have only one public photo.",
                                        "type": "boolean"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "boolean",
                                            "const": true
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/Error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/removeBusinessAccountProfilePhoto": {
            "post": {
                "operationId": "removeBusinessAccountProfilePhoto",
                "summary": "Removes the current profile photo of a managed business account.",
                "tags": [
                    "Business"
                ],
                "description": "Removes the current profile photo of a managed business account. Requires the *can_edit_profile_photo* business bot right. Returns *True* on success.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "business_connection_id"
                                ],
                                "properties": {
                                    "business_connection_id": {
                                        "description": "Unique identifier of the business connection",
                                        "type": "string"
                                    },
                                    "is_public": {
                                        "description": "Pass *True* to remove the public photo, which is visible even if the main photo is hidden by the business account's privacy settings. After the main photo is removed, the previous profile photo (if present) becomes the main photo.",
                                        "type": "boolean"
                                    }
                                }
                            }
                        }
[...]
